[2019-08-19 06:52] dynobo opened #1 "Identify library for fullscreen display"
**Requirements:**
- [R1] Cross Platform
- [R2] Multi monitor
- [R3] Select active Monitor
- [R4] Licence (LGPL or above)

**Further Criteria:**
- Common used
- Low Dependencies

**Prioritized Options:**
- tkinter
- wxpython
- pygame
- pyglet
- QT

[2019-08-20 13:59] dynobo opened #2 "Identify library for taking screenshot"
Requirements:

- [R1] Cross Platform
- [R2] Multi monitor
- [R3] Select active Monitor
- [R4] Licence (LGPL or above)

Further Criteria:
- Common used
- Low Dependencies

Prioritized Options:
- Custom (use OS-standards like scrot)
- pyscreenshot
- pyscreeze

[2019-08-27 19:54] #1 closed, assigned to dynobo

[2019-08-27 19:56] #2 closed, assigned to dynobo

[2019-08-27 19:58] dynobo opened #3 "Addon system for Magics"
Create an addon system for essy extensible Magic Commands.

Should include a scoring mechanism to decide, which magic to run, an transformer and an executor.

[2019-08-27 20:04] dynobo opened #4 "Refactor PoC Code"
- [ ] Use [Chain of Responsibility Pattern](https://refactoring.guru/design-patterns/chain-of-responsibility)
- [ ] Classes
- [ ] Naming
- [ ] Comments

[2019-08-27 20:06] dynobo opened #5 "Write unittests"
For automated regression tests

[2019-08-27 20:09] dynobo opened #6 "Tests"
- [ ] Linux Arch i3
- [ ] Ubuntu Gnome
- [ ] Windows 10
- [ ] Mac

[2019-08-27 20:10] dynobo opened #7 "Build Binaries"
- [ ] Linux
- [ ] Windows 10

[2019-08-27 20:13] dynobo opened #8 "Enhance README"
- [ ] Installation on Linux and Windows
- [ ] Design principles
  - No Text (multilang)
  - Cross Platform (Lin, Win, Mac)
  - No Service
  - No config (args instead)
- [ ] Development setup
- [ ] Disclaimer (no warrenty, alpha, works on my machine)
- [ ] Screencast / gif

[2019-08-27 20:16] dynobo opened #9 "Add modifier key for raw / parse / magic"
- [x] Visual indicators
- [ ] Legend, hint
- [x] Ctrl / Shift
- [x] Default plain function

[2019-08-27 20:19] dynobo opened #10 "Add command line args"
- [x] Color
- [x] Default mode/addon
- [x] Store snippet path
- [x] Debug level

[2019-08-27 20:52] dynobo opened #11 "Test pyocr"
At least with Tesseract, on Linux & Windows

[2019-08-27 20:52] #11 closed, assigned to dynobo

[2019-08-28 07:36] dynobo opened #12 "Separate screen capture from selection gui class"

[2019-08-28 07:38] dynobo opened #13 "Improve speed"
The startup speed and also text recognition is okay, but faster would be better.
If you have any ideas on how to improve this, please leave a note here! :-)

[2019-08-29 06:18] dynobo opened #14 "Build Magic "Paragraphs""
- [x] Return Line Break separated results
- [x] Strip whitespace per Line
- [ ] Scoring:
  - [ ] Fewer lines
  - [ ] Similar distances between lines (no paragraphs)

Ideas for Heuristics:
- Try to tell if the first word on a line could have easily fit on the previous line, indicating an intentional newline.
- Pay attention to punctuation (paragraphs should end with it.)

[2019-08-29 06:22] dynobo opened #15 "Create Magic "email""
- [ ] Return char separated Email (check outlook, thunderbird, gmail)
- [ ] Scoring:
  - [ ] length of all text / length of mail-adresses
- [ ] Action: Create new email

[2019-08-29 06:27] dynobo opened #16 "Create Magic "www""
- [ ] Return char separated urls incl hash and parameters
- [ ] Scoring: length all / length urls
- [ ] Action: Open in (multiple) Tabs
- [ ] Chrome, Firefox, Safari

[2019-08-29 06:31] dynobo opened #17 "Implement detection of tables/tabular text"
- [ ] Return tables as CSV
- [ ] Score: Detected Columns and Rows
- [ ] Action: Clipboard? Excel?

Links that might be helpful:
- [tesseract-ocr-utils](https://pypi.org/project/tesseract-ocr-utils/) seems to implement table detection

[2019-08-29 06:39] dynobo opened #18 "Decrease number of dependencies"
I tried to keep the dependencies / third party libs at minimum, but still have the feeling, they could be less.

If you have ideas on how to get rid of another dependency, please comment.

[2019-08-29 06:43] dynobo opened #19 "Check Licence"
- Licences of Deps?
- Rules for publishing Bins?
- Is MIT still fine?

[2019-08-29 16:52] #12 closed, assigned to dynobo

[2019-08-29 19:32] #9 closed, assigned to dynobo

[2019-08-30 15:46] #10 closed, assigned to dynobo

[2019-09-07 10:54] #3 closed, assigned to dynobo

[2019-09-07 10:54] #15 closed, assigned to dynobo

[2019-09-09 18:00] dynobo opened #25 "Add pytest coverage banner"
See: https://coveralls.io/

[2019-09-09 18:01] dynobo opened #26 "Add build pipeline for github"
See: https://travis-ci.com/

[2019-09-10 05:34] #16 closed, assigned to dynobo

[2019-09-10 05:34] #4 closed, assigned to dynobo

[2019-09-10 05:36] dynobo opened #27 "Add notifcation/splash screen to show whats happenig after screenshot selection"
E.g.:
- "Detecting text..." -> "Parsing email.." -> "Trigger action..."
- Preferably icons only, no text

[2019-09-10 20:13] #8 closed, assigned to dynobo

[2019-09-10 20:14] #19 closed, assigned to dynobo

[2019-09-12 06:38] dynobo opened #29 "Implement Magic "Source Code""

[2019-09-12 06:44] dynobo opened #30 "Bundle with Tesseract?"
What do you think, should I bundle NormCap together with tesseract and a set of languages? Some thoughts:

**Pros:**

- More simple installation of NormCap
- Self contained releases
- Easier to debug(?)

**Cons:**

- Larger release files
- Possibly duplicated tesseract packages, when other programs use tesseract, too
- Every user has to use the same version of tesseract (the bundled one)
- Tessera

[2019-09-12 06:47] dynobo opened #31 "Change to "real" addon system for Magics"
Instead linking the magics' py file by hard imports, dynamically load all py files from magics folder.
This way, it's easier to develop new or customize existing magics.

- [ ] Adjust import logic
- [ ] Adjust pyinstaller config to copy magics folder instead of packing it.

[2019-09-17 18:43] dynobo opened #35 "Keybindings not working in MacOS"
Probably due to the window is not getting focus.

[2019-09-17 18:43] #7 closed, assigned to dynobo

[2019-09-17 18:44] #6 closed, assigned to dynobo

[2019-09-23 07:57] dynobo opened #36 "Improve scoring"
- "paragraph" is way to high
- "email" slightly to low

[2019-09-23 07:57] dynobo opened #37 "Improve logging"
- Remove duplicate logging
- Log-Level to front (after timestamp)

[2019-09-25 19:14] dynobo commented on #37
e1025f9a1aeff9b01f3cfe0a20282ce364c0f7b4

[2019-09-25 19:14] #37 closed

[2019-09-25 19:41] dynobo commented on #36
ae1c6a863dea993a8ddc3b373451336f53a0930d

[2019-09-25 19:41] #36 closed

[2019-09-29 09:05] dynobo opened #38 "Bundle as PyPi Packag"
To make installable via pip

[2019-09-29 09:10] dynobo opened #39 "Add screencast to README"
How to print shortcuts to Screen?
Which recorder to use?

[2019-09-29 09:25] dynobo opened #40 "Create reference images for unit-testing"
- [ ] Contain one or two "real" screenshots for current:
   - Line
   - Paragraph
   - Email
   - URLs
   - Mixed content
- [ ] Small size (640x480?) to make it usable, embedded in an email, for the screencasts

[2019-10-13 15:20] dynobo commented on #26
https://docs.travis-ci.com/user/multi-os/

[2019-10-25 20:23] dynobo commented on #5
Started test (73% coverage, will try to increase steadily)

[2019-10-25 20:23] #5 closed

[2019-10-25 21:06] dynobo commented on #25
1e882943c56fbe2d4f3db101e980645ad9a074c0

[2019-10-25 21:06] #25 closed

[2019-11-03 00:23] dynobo commented on #30
Is decided to move to tesserocr. It has a wheel bundled with tesseract for Windows, which is fine, as package install of tesseract is preferred anyway for linux & max.

[2019-11-03 00:23] #30 closed

[2019-11-03 16:56] dynobo commented on #38
- [x] setup.py
- [ ] Different dependency for Win? (bundled tesserocr?)
- [ ] Test wheels
- [ ] Adjust README.md to new install (make binary experimental)
- [ ] Add demo screencast to README.md

[2019-12-09 19:16] dynobo opened #49 "Remove debug output"
Somethings creates an output after the capturing. Seek and destroy.

[code]

[2019-12-09 19:17] #26 closed

[2019-12-09 19:20] dynobo opened #50 "Remove actions"
Automated action triggering makes code much more complicated (because of platform independence) and is probably not so important. Remove them.

[2019-12-09 19:23] dynobo opened #51 "Use best traineddata for windows"
Instead the compromising traineddata sets for tesseract, try using the best. I think more accuracy is worth potential slower execution.

[2019-12-09 19:42] dynobo opened #53 "Enable tests on Windows & Mac for PRs"
Extend test workflow to all platforms

[2019-12-10 21:27] #53 closed

[2019-12-10 21:47] #51 closed

[2019-12-10 21:47] #49 closed

[2019-12-12 10:56] #50 closed

[2019-12-12 12:45] dynobo opened #57 "Add automatic language detection"
**Idea:** Do OCR ones in e.g. "EN", run language detection, run OCR again in detected language (if it's different than EN _and_ available in the OCR).

Libraries:
- https://github.com/saffsd/langid.py (seem to be a little less reliable on short texts, but very view deps)
- https://github.com/Mimino666/langdetect (seem no working with pyinstaller)

[2019-12-21 00:13] #40 closed

[2019-12-21 00:13] #14 closed

[2019-12-21 00:14] dynobo commented on #57
I should try using multiple language for tesseract instead, if this is possible by tesserocr

[2019-12-21 01:13] #57 closed

[2019-12-21 01:21] dynobo opened #62 "Implement magic "urls""
Detect, crop and sanitize (multiple) urls

[2019-12-21 10:49] dynobo opened #64 "Improve detection accuracy"
Most of the detection quality depends on Tesseract OCR and the input image.

But there are also options/ideas in scope of this project:
- Automatically preprocess screenshot before feeding into OCR
- Tune Tesseract OCR parameters
- Apply heuristics to correct common OCR mistakes
- Improve "Magics" in detecting & transforming the OCR results

I'm happy about any ideas or pull request on this topic!

[2019-12-23 14:45] #38 closed

[2020-04-23 17:38] Igetin opened #76 "Crash on Wayland, XGetImage failed"
NormCap crashes when trying to run it under Wayland:

[code]

[2020-04-24 08:04] dynobo commented on #76
Thanks for the report, @Igetin . I can reproduce the problem on Ubuntu 20.04 with Gnome under Wayland.

This is probably an issue in the python library [mss](https://github.com/BoboTiG/python-mss), which I'm leveraging to get the screenshot on the multiple platform.

**Just to be sure, can you please also run the following snippet, e.g. by typing it in python3 console, can you confirm that you exp

[2020-04-24 09:08] dynobo commented on #76
I opened an issue for `mss`: https://github.com/BoboTiG/python-mss/issues/155

Beside waiting to get this fix there, I'll think about a (temporary) workaround, e.g. by falling back to `pyscreenshot` or an execution of `gnome-screenshot`. But I'll have to check, how if the effort is worth the temporary benefit. Stay tuned! :-)

[2020-04-25 12:40] #76 closed

[2020-04-25 12:43] dynobo commented on #76
I added a fallback for wayland. However, that workaround uses `gnome-screenshot` tool, which have to be installed (it is by default on Ubuntu). Please test and report back, if it worked.

[2020-04-28 12:59] Igetin commented on #76
Works with the `gnome-screenshot` workaround, thank you.

[2020-10-29 05:50] ashishpatel1992 opened #81 "[Windows] Failed to execute script __main__"
In windows, you will get the error `Failed to execute script __main__` when instead of `click & drag` the area user simply `clicks on the screen`.
**The error should be handled appropriately.**

![normcap](https://user-images.githubusercontent.com/652311/97530599-7dd9fb00-19d8-11eb-8384-8e0d5e615107.gif)

[2020-10-29 05:52] ashishpatel1992 opened #82 "[Feature] Tray icon support"
Support for the `Tray icon` can be added so that the user is not always required to relaunch the application.

[2020-10-30 18:00] dynobo commented on #82
I personally prefer software to _**not**_ run in the background constantly, especially if I don't need it very often.

But considering the startup time, which is especially slow for the exe-release on windows, I can understand if some people prefer to run it as a service.

Therefore I'll take a look on this, but can't promise anything here, because I have no idea how difficult it is to implement t

[2020-10-30 18:09] ashishpatel1992 commented on #82
Well, we don't need to run as a service during startup. But a good suggestion is if it's executed once, it can stay at tray icon. The reason is that if a user has selected text recently. There is a high chance that he will again use the tool within a few minutes.

We can consider it a design enhancement. Although as I said it will only go to tray icon when EXE file is executed manually.
(This coul

[2020-10-31 10:28] dynobo commented on #81
Should be solved with [release v0.1.5](https://github.com/dynobo/normcap/releases/tag/v0.1.5)

[2020-10-31 10:28] #81 closed

[2020-10-31 16:08] ashishpatel1992 commented on #27
Hi @dynobo
I have worked on a feature that pushes a notification on `Windows` that text is copied to clipboard
Here is sample notification. Although I would like you to suggest me the title.
(In this example for the title I have chosen to display  `noarmcap - Text Captured`
below that, I have shown part of the text copied in a single line and also handled the case when no text is detected)
![image

[2020-10-31 18:06] dynobo commented on #39
![normcap](https://user-images.githubusercontent.com/11071876/97786475-12e11d80-1bac-11eb-9e51-ef86c21d24c5.gif)

[2020-11-01 09:11] dynobo commented on #82
I like your suggestion! As a first step, we could:
1. add a command line switch like `--keep-in-tray` to activate the tray icon
2. If the tray icon is active and you click on it, a simple menu will show up:
![97741698-24bdb480-1b09-11eb-8319-390251f2cf13](https://user-images.githubusercontent.com/11071876/97798875-7578fe80-1c2a-11eb-8b87-7e81685be2d7.png)

What do you think?

[2020-11-02 02:18] ashishpatel1992 commented on #27
Hi,
The current notification displayed is having the wrong application name `Python Application (notify.py)`
![image](https://user-images.githubusercontent.com/652311/97823617-964f5b80-1cdf-11eb-99e7-51c5dbd4733d.png)

I am sending you a merge request with `application name` and `version`.

![image](https://user-images.githubusercontent.com/652311/97823681-b717b100-1cdf-11eb-9be9-4aeacff81fce.png)

[2020-11-02 03:51] ashishpatel1992 commented on #82
Yeah looks good to me. We can use [PyQt5 ](https://pypi.org/project/PyQt5/)for that. A demonstrated example is available [here](https://www.learnpyqt.com/courses/adanced-ui-features/system-tray-mac-menu-bar-applications-pyqt/)
This is a cross-platform library for Windows and macOS

[2020-11-02 05:12] dynobo commented on #27
Thanks, @ashishpatel1992 !

One question: I'm hesitating to publish 0.1.6 as release, because I discovered an issue with the notification on Windows: Shortly before the notification appears, the Powershell-Windows pops up for a very short moment. But this happens only for the compiled .exe build, not when running as Python package.
Do you experience the same issue? (Execute `python build.py` to ge

[2020-11-02 09:28] ashishpatel1992 commented on #27
Hi @dynobo ,
I haven't reached till that step yet. Stuck with the binary generated.
Although successfully able to compile it. Log here: https://pastebin.com/MHXsQ7RY
The compiled binary was giving me the error:
![image](https://user-images.githubusercontent.com/652311/97847689-04af1080-1d16-11eb-9005-3642017b03da.png)

So, I have manually placed python38.dll to rectify the issue.
But now there is

[2020-11-02 16:51] dynobo commented on #27
Hi @ashishpatel1992,
I your python version 3.8? I think pyinstaller doesn't yet support this... Could you try with 3.7.x?

In the meanwhile I filed an PR for the notification Package: ms7m/notify-py#18
We'll see if/when it get's accepted :-)

[2020-11-02 17:06] dynobo commented on #82
Hey @ashishpatel1992, while PyQt5 definitely could handle that I'll first try to keep away from it. It's a too powerful (and bloated) framework, for such a tiny feature. For the same reason I'm currently using Tkinter as UI-Framework, which is less bloated and a default lib in Python.
However, Tkinter (as far as I can tell) doesn't support tray icons. I'm currently experimenting if [pystray](https

[2020-11-02 18:09] dynobo commented on #27
Solve with [release v0.1.6](https://github.com/dynobo/normcap/releases/tag/v0.1.6).
Thanks for you input, @ashishpatel1992 !

[2020-11-02 18:09] #27 closed

[2020-11-03 12:13] ashishpatel1992 commented on #27
Glad to know that issue is fixed. 🥇

[2020-11-03 13:31] dynobo commented on #82
pystray conflicts with pyperclip (module for clipboard handling). I filed a simple PR which could help: asweigart/pyperclip#182

Waiting till it arrives upstream...

[2020-11-03 15:08] ashishpatel1992 commented on #82
Hi @dynobo ,
I have been trying to test pystray but looks like I am stuck at this point. I have followed the documentation [Creating a system tray icon](https://pystray.readthedocs.io/en/latest/usage.html).
My Sample code
[code]
and getting the following error

[code]

Do you have any idea about this error? I am testing it on Ubuntu 20.04.1 LTS

[2020-11-03 15:51] dynobo commented on #82
@ashishpatel1992 : You code-example works on my machine, I see the "icon" and don't get an error. My best guess is that you are missing a dependency. You could try to install the following stuff:
[code]

[2020-11-03 19:26] ashishpatel1992 commented on #82
Hi @dynobo ,
Well, the packages didn't help, but I noticed one thing it wasn't working on Python 3.7.6 but was working fine on python 3.8.
Also tested on windows and working fine under python 3.8

[2020-11-08 19:43] ashishpatel1992 opened #86 "[Feature] Update download notification"
Check for updates on the Application launch and inform users to download new updates when available.
This will help users enjoy the latest features and enhancements in the application.

As of now, there is no way for users to know if there is a new update for the app, until or unless they visit the GitHub repository.

💡 The idea is to pop up the notification if there is an update and ask the user

[2020-11-09 06:41] dynobo commented on #86
Thanks for the suggestion!

It's not one of my top priorities, though, but I would be happy about an Pull Request for this!

Minimal Requirements for a PR would be:
- No new dependencies
- Version Check can be disabled via command line flag
- Info shown to the user should cover different install methods (pip + executable)
- Unittests for successful & unsucessful network calls (e.g. if currently in

[2020-11-09 06:57] dynobo commented on #86
Oh, and in the meanwhile some ideas for (less convenient) workarounds that effected users might want to try:

- Call `pip install --upgrade normcap` regularly (e.g. crontab or scheduled tasks)
- Subscribe to the [releases](https://github.com/dynobo/normcap/releases) with github account.
- Subscribe to [releases rss feed](https://github.com/dynobo/normcap/releases.atom)

[2020-11-10 17:25] Barisrky opened #87 "Normcap windows notifications can't turned back on"
Before my i would like to thank you for application, it is just what i wanted. I am not a programmer of anykind i just wanted app like this for everyday use so here is my problem. I turned of the windows notifications form notifications area but it was a bad decision and i wanted to turn it back on but i can't find any option to turn the apps notifications on. I guess because app is working from a

[2020-11-10 21:25] dynobo commented on #87
Hi @Barisrky,

thanks for the kind words and filing the issue. I tried also to re-enable the disabled notification and was very surprised that there seems to be no simple solution for that.

It seems like Normcap has to be prepared somehow to hook into Window 10's notification settings or something, but unfortunately I lack the necessary skills on Windows.

**I would be glad if somebody could help

[2020-11-11 04:26] ms7m commented on #87
Hey @dynobo  and @Barisrky,

Developer for the notification library here.

A workaround to "re-enabling" (not the best word here imo) is to **simply change the application ID** when creating the initial ``Notify`` object. It's up to you guys to determine a best route here but probably a quick and dirty way is to have a unique application name each time you send the notification.

I think I'll try

[2020-11-11 10:29] Barisrky commented on #87
I tried to find notification settings like in the @dynobo 's step 1 before but in my regedit notification settings there is no normcap and i quickly give up. I think i am going to wait a little for easier solution. Thank you both.

[2020-11-12 10:34] dynobo opened #88 "Normcap not shown in fullscreen when using gnome-shell and PopOS tiling"
The windows with the red border showing the screenshots to select a region are not covering the full screen, but are getting tiled by the window manager. This is at least the case on Ubuntu 20.04 with the gnome-shell extension of PopOS.

Tasks:
- Test some different window managers to see where else this issue occurs
- Try setting `self.tk.attributes("-zoomed", True)` for linux
- Think about if it

[2020-11-14 21:17] dynobo commented on #88
Should be fixed with e11cc1cf5fd14b3dbfcf13d981c9c7aa9b0d5b1a

[2020-11-14 21:17] #88 closed

[2020-11-14 21:19] dynobo commented on #87
@Barisrky : FYI, the [new release](https://github.com/dynobo/normcap/releases/tag/v0.1.7) comes with a new application new (the version in it has changed), which should re-enable your notification. The **underlying issue however is not fixed yet**, so don't try to disable the notifications if you want to keep them... ;-)

[2020-11-16 15:31] Barisrky commented on #87
Oh thanks, i learned it from the hard way to not disable notifications right away :D. But i tried new release now and i get "failed to execute script __main__ " error :/

[2020-11-16 17:05] dynobo commented on #87
@Barisrky, I also noticed some issues in the newest release... Would you mind opening a new issues for that, and posting the complete error message? If possible after starting with `normcap --verbose`? Thanks!

[2020-11-29 08:04] dynobo opened #91 "Create Installer for Windows Binary Release"
Use [NSIS](https://nsis.sourceforge.io/Main_Page) (already installed on build agent) along with the appropriate [github action](https://github.com/marketplace/actions/makensis).

This is also one step to mitigate #87

[2020-11-29 08:07] dynobo opened #92 "Add application menu shortcuts for normcap"
1. On Windows: Solved by PR #93.
2. On Linux: investigate, how to create normcap.desktop is a freedesktop compliant way. See also:
- https://github.com/AppImage/AppImageKit/wiki/Bundling-Python-apps
- https://pypi.org/project/install-freedesktop/

[2020-11-29 08:10] dynobo commented on #87
When #91 and #92 are solved, I can implement a function to get the AppID (maybe parsing `Get-StartApps` command output?) and use that AppID when triggering the notification. This should make normcap appear in "Notifications & Actions"-Settings.

[2020-12-06 17:25] dynobo commented on #91
Solved with PR #93 .

[2020-12-06 17:25] #91 closed

[2020-12-06 17:34] dynobo commented on #87
This issue should be solved with the new `...installer.exe`, which is build for v0.1.9 and above and can be downloaded from the [releases-page](https://github.com/dynobo/normcap/releases). The installer also comes with the benefits of creating an application shortcut in the start menu and allowing uninstall through "Add/remove programs".

For the "old" installation-methods, zip-file (portable) and

[2020-12-06 17:34] #87 closed

[2020-12-06 17:37] dynobo opened #94 "[Linux] Provide AppImage"
Package Normcap as [AppImage](https://appimage.org/) for easier install/execution without installing too much dependencies.

See also: https://github.com/AppImage/AppImageKit/wiki/Bundling-Python-apps

[2021-02-02 14:54] toprak opened #95 "[Windows] Failed to execute script main."
I did recommended way but this no works, also is there way to add shortcut keys to execute this app.

[2021-02-02 19:33] dynobo commented on #95
Hi toprak, thanks for reporting your issue!

Just to make sure I understand:

You used the [latest normcap_win64_installer.exe](https://github.com/dynobo/normcap/releases/download/v0.1.9/normcap_win64_installer.exe) to install the program, right?

And now when you try to execute the installed program through start menu, you get a error message saying "Failed to execute script main", is this correc

[2021-02-02 19:42] toprak commented on #95
Yes

Yes

Windows 7 sadly could not upgrade it yet.

![resim](https://user-images.githubusercontent.com/43301560/106653476-e45a5080-65a7-11eb-97f1-e089448be686.png)

[2021-02-02 20:52] dynobo commented on #95
Thanks, that's valuable information, I already got some ideas what the problem might be. I'll try to look into it (probably next weekend) and get back too you :)

[2021-02-02 20:56] toprak commented on #95
Thanks!

[2021-02-03 01:41] toprak commented on #95
Tried with cli mode, here is the output of my experience.
`04:40:01 - INFO - normcap.normcap - Starting NormCap v0.1.9 ...
Traceback (most recent call last):
  File "c:\users\fuchi\appdata\local\programs\python\python37\lib\runpy.py", lin
e 193, in _run_module_as_main
    "__main__", mod_spec)
  File "c:\users\fuchi\appdata\local\programs\python\python37\lib\runpy.py", lin
e 85, in _run_code
    e

[2021-02-03 18:20] dynobo commented on #95
Oh, cool! This already shows the issue:
[code]
`notifypy` is the package I use to display notification after the OCR scan is completed. This seems not to be compatible with Windows 7 and there's nothing I can do about that. But you can switch off the notifications by starting NormCap with the `--no-notifications` argument. It's possible, that this already solves your issue.

Can you please try and

[2021-02-03 18:23] toprak commented on #95
It worked! but how can I use `--no-notifications` with exe?

[2021-02-03 18:24] #95 closed

[2021-02-21 09:37] CansinSuner opened #96 "Fatal error detected"
![Adsız](https://user-images.githubusercontent.com/79399521/108621084-97002f00-7441-11eb-89c6-3dc225eb8bad.png)

[2021-02-21 09:40] #96 closed

[2021-02-21 09:41] CansinSuner commented on #96
Previously resolved problem

[2021-03-05 10:54] tcptps opened #97 "I shall open an Issue - Error tk Mac OSX"
It said so so I did.
Mac OS Sierra (10.12)
installed with pip (Python3.9)
launched from Terminal normcap
useful Application Window never appeared.

If you need anymore information ask for it I am happy to help.

<img width="856" alt="Bildschirmfoto 2021-03-05 um 11 42 11" src="https://user-images.githubusercontent.com/50037207/110106107-8dfc4f80-7da9-11eb-9237-9f00aa912416.png">

[2021-03-10 09:53] dynobo commented on #97
Thanks for the report, @tcptps ! :+1:
I actually didn't test on MacOS for quite a while (I don't have a Mac myself), but I try to take a look at it next weekend.

[2021-03-20 17:32] dynobo commented on #97
Hi @tcptps,

today I installed Sierra in a VM and tried to reproduce the issue, but without success.

Can you please provide additional information?
1. Do you have a multi-monitor setup or only one display?
2. You wrote "useful Application Window never appeared.". Are you sure? The "application window" is barely visible, because it shows only a screenshot from your current desktop. The red border

[2021-03-20 19:41] tcptps commented on #97
Hi,
1. one Display
2. No red border for me.
3. Thats a weird one I have to say, because the Menu bar is hidden which is normally a sign that an application is in full Screen mode but on the other hand there is the little window. Using python 3.9 I think I used the Installer from the python website.
Since my Setup is weird sometimes and it works in your VM I would suggest to wait if somebody else e

[2021-03-21 07:42] dynobo commented on #97
You observations are quite interesting!

What technically should happen is, that `normcap` opens two windows:
1. [A "dummy" window](https://github.com/dynobo/normcap/blob/39990acd4cc16581a7f4fc2111980b0557457a93/normcap/handlers/crop_handler.py#L144), which seems to be necessary to receive keyboard shortcuts. This is the small window you see with and prompts you to report the bug.
2. Window 1) sho

[2021-03-27 13:36] karnsaurabhkumar opened #99 "Tried launching normcap from terminal on MacOS and was able to see dummy window"
![image](https://user-images.githubusercontent.com/10262962/112722422-80149700-8f2f-11eb-9cde-2583f1292509.png)

[2021-03-27 17:26] dynobo commented on #99
Thanks for posting! This is a known issue and tracked in Ticket #97.

Sadly I wasn't able to reproduce it so far (I don't own a Mac and can only test in VM). It would be great if you could skim through the conversation in #97 and see if you can provide additional information about your setup, to help reproduce (and hopefully fix) the problem.

[2021-03-27 17:26] #99 closed

[2021-03-31 06:43] dynobo opened #100 "Switch to different clipboard library (AttributeError: When using gi.repository...)"
`pyperclip`somehow has some [long outstanding issues](https://github.com/asweigart/pyperclip/issues/106) with GTK3, e.g. throwing:

[code]

Let's switch to a more up-to-date library, like e.g.:
- [pyclip](https://pypi.org/project/pyclip/)
- [crossclip](https://pypi.org/project/crossclip/)

[2021-04-04 09:06] dynobo commented on #100
Switched to pyclip with v0.1.11.

[2021-04-04 09:06] #100 closed

[2021-04-04 09:09] dynobo commented on #97
I tried a change which _might_ fix this problem. Could anyone affected by this issue please try v0.1.11 and report back?
[code]

[2021-04-09 17:15] 9001 commented on #97
just bumped into your project through mss, cool stuff :>
noticed this issue and gave it a try since i had a mac nearby.

encountered somewhat similar behavior on 0.1.10:
* the red border is painted on startup, however the menu bar is on a layer above the border and renders over it
* capturing contents inside the menu bar is impossible; normcap reports that nothing was captured
* the dummy window a

[2021-04-10 10:46] dynobo commented on #97
@9001 Thanks for your valuable feedback! This seems like updating to `v0.1.11` is a good workaround for people on MacOS affected by this issue,

I leave this ticket open, because it still doesn't behave as it should (menu bar should be covered, too.)

I'm currently experimenting with a different GUI-Framework ([Kivy](https://kivy.org/) that hopefully fixes this issue and makes other things more ea

[2021-04-22 23:48] Welding-Torch opened #103 "Recommended software for making a keybind?"
Like the title says, what's the recommended software for making a keybind? Asking because I'd like to use the least resource-consuming option possible.

I'm on Windows 10.

[2021-04-23 05:50] dynobo commented on #103
Hi, all the desktop operating systems I know have build-in solutions to create keybindings to open an application. Usually an internet search can help to find out how to do this.

E.g. for Windows 10 take a look [at this tutorial](https://www.cnet.com/how-to/open-programs-with-keyboard-shortcuts-in-windows-10/). It seems like you need to create an application shortcut to NormCap (if you used the i

[2021-04-23 11:16] Welding-Torch commented on #103
This is good, thanks!

Unrelated, but this app is probably the most useful utility that I've discovered this year.
Keep up the good work

[2021-04-23 11:16] #103 closed

[2021-04-29 15:16] yaojingzhe opened #104 "Whether can recognize Chinese with chi_sim.traineddata"
Dear Author:

May I use normcap to recognize Chinese on screan with chi_sim.traineddata?
I tried, but I couldn't recognize Chinese
I saved Chinese screen to cn.jpg
and use CMD: tesseract cn.jpg cn -l chi_sim
I got cn.txt and recognized Chinese

Should I set normcap to recognize Chinese? no config file to set.

I downloaded normcap_win64.zip

Thank you very much for your reply.

System：windows 10

[2021-04-29 19:50] dynobo commented on #104
Hi @yaojingzhe,

Yes, in general you can use NormCap will all language available for tesseract. But the compiled binary-releases currently only include german and english support (because the file size of the language data is quite large).

If you answer the following questions, I might be able to help you setting up the support for chinese:
1. What's your operating system? MacOS? Linux? Windows 1

[2021-04-29 20:09] dynobo opened #105 "Check if screenshot dependency is stil necessary"
Pillow seems to be able to provide cross-platform screenshots now. (see explanation on https://github.com/ponty/pyscreenshot).
Check if extra dependency can be removed.

[2021-04-30 07:13] dynobo commented on #104
Hi @yaojingzhe,

You have two options:

**1. Extend your portable version `normcap_win64.zip` with chinese**
The binary releases use the _included_ tesseract version (which comes only with english and german currently).
But you can download the [chi_sim language data file](https://github.com/tesseract-ocr/tessdata) and drop it in the folder `/normcap/tessdata/` of the portable version. Then you ca

[2021-04-30 08:48] yaojingzhe commented on #104
Dear author:

I downloaded normcap_win64.zip and use normcap with -l chi_sim, it's work well and can recognize both Chinese and English. I will soon try install normcop trouth pip install normcap to test tesseract 5alpha and tell you the result.

Your program is so excellent than help me greatful.

And also thank you for your kindness.

[2021-04-30 09:40] #104 closed

[2021-04-30 12:13] villayer opened #106 "Installation failed on fresh install of Ubuntu 20.04 LTS"
after following the instructions the installation fails after executing ```pip3 install normcap```
here is the output of the command
[code]
can you please help me and thanks

[2021-05-01 08:09] dynobo commented on #106
Hi @villayer,

Thanks for report, can you please tell me the name and version of you Linux distribution? Then I can take try to reproduce the issue.
(I suspect a missing / incompatible system dependency is the culprit)

Cheers!

[2021-05-01 09:54] dynobo commented on #106
@villayer: Could you please try installing python dev packages and then retry `pip3 install normcap`?
[code]

[2021-05-01 15:17] villayer commented on #106
hey @dynobo thanks for replying

installing the package ```python3-devl``` on Ubuntu 20.04 solved the problem for me, maybe add this package as a dependency?
and thanks

[2021-05-01 18:21] dynobo commented on #106
Absolutely! I forget that one and will add it to the README. Again, thanks for reporting!

[2021-05-01 18:21] #106 closed

[2021-05-11 15:50] liolio6 opened #107 "Not working on Debian Buster"
Hello, I try to install normcap on debian Buster, the install work correctly but I got Segmentation fault when I run it
I of course installed dependencies
`sudo apt-get install tesseract-ocr xclip python3-dev python3-tk python3-pil.imagetk libleptonica-dev libtesseract-dev libnotify-bin`

View Bellow

`pip3 install normcap`
Requirement already satisfied: normcap in /usr/local/lib/python3.7/dist-pa

[2021-05-11 21:07] dynobo commented on #107
Hi @liolio6, thanks for reporting the bug!
Do you get additional output, if you execute `normcap --verbose`? And which display manager do you use? Gnome on X11?

[2021-05-12 16:03] dynobo commented on #107
@liolio6, could you please upgrade NormCap to the version I just released and report back, if the workaround works for you?
[code]
Thanks!

[2021-05-16 20:58] liolio6 commented on #107
Hey @dynobo  Its work perfectly
Really thanks
Your soft is awesome

[2021-05-16 21:08] #107 closed

[2021-05-27 02:20] y4rr commented on #97
@dynobo I'm not a super expert in developing for MacOS, but I think I may have here something interesting for you. Here's an example of how to use PyObjC to draw a window which in the fullscreen mode will render over the menu bar and the dock:

[code]

I hope this might be useful for this issue.

[2021-05-27 03:29] bagustris opened #109 "Error on Ubuntu 16.04, python3.8"
I was able to install and use it on Ubuntu 20.04 using python 3.8, but failed on Ubuntu 16.04, also using python 3.8. Both are installed using pip.

The error says:
`AttributeError: type object 'tesserocr.OEM' has no attribute 'LSTM_ONLY'`

Any idea to resolve?

I checked my tesserocr on python3.8 is version '2.5.1' and update it to version 4.1.1
Now, the following tesseract-ocr is installed in my

[2021-05-27 06:34] dynobo commented on #97
@y4rr Thanks a lot for your efforts and this information. I'm currently working hard on a switch from Tk to Qt (see the respective branch), which hopefully makes it more easy to maintain NormCap for multiple platforms. Interestingly, showing the fullscreen already works quite well with Qt on MacOS, but there are some other Mac-specific issues I have to sort out, e.g. I can't change the cursor to c

[2021-05-27 13:11] dynobo commented on #105
Not necessary anymore, will be removed on switch to qt.

[2021-05-27 13:11] #105 closed

[2021-05-27 16:52] dynobo commented on #109
Hi @bagustris , thanks for your error report! :-)

Could you please try uninstalling `tesserocr` (the python package, not `tesseract-ocr` the ubuntu package for the OCR backend) and then re-install it without cache?
[code]
It would be possible, that when tesserocr was installed during the normcap installation it was build against your old `tesseract` version, the commands above might fix that.

In

[2021-05-28 00:58] bagustris commented on #109
Great answer!
I just did the first command only (uninstall tesserocr) and then install normcap. Now it works like a charm. Yesterday I predicted that  normcap still used old tesserocr that produces that error, but I don't know how to get rid of it. This is my complete commands that work.
[code]
Thanks a lot!

[2021-05-28 00:58] #109 closed

[2021-05-29 06:51] dynobo opened #110 "Please help testing the new beta version 0.2.0-b1"
I've published a 0.2.0-b1 beta-release, with major changes.

**It would be really great if you could help testing it and provide feedback (positive or negative) here in this ticket**

### Changes

- (Almost) total rewrite of NormCap!
- Switch from Tk to Qt as UI Framework
- Easy to use binary package releases (no hassle with dependencies anymore!)
- Better support for HiDPI
- Better support multi

[2021-05-29 06:56] dynobo commented on #82
**Tray Icon Support arrived in the latest [beta release 0.2.0-b1](https://github.com/dynobo/normcap/releases/tag/v0.2.0-b1)!**

Please help by testing and [providing feedback](https://github.com/dynobo/normcap/issues/110).

[2021-05-29 07:00] dynobo commented on #97
In the new [beta release 0.2.0-b1](https://github.com/dynobo/normcap/releases/tag/v0.2.0-b1) I got completely rid of the "dummy window". In general it should provide a much nicer experience on MacOS (still not perfect, e.g. it still is behind the application menu and dock).

Please help by testing and [providing feedback](https://github.com/dynobo/normcap/issues/110).

[2021-05-29 07:01] dynobo commented on #35
**This should be solved in the [beta release 0.2.0-b1](https://github.com/dynobo/normcap/releases/tag/v0.2.0-b1)!**
Please help by testing and [providing feedback](https://github.com/dynobo/normcap/issues/110).

[2021-05-29 07:36] ashishpatel1992 commented on #82
Hi @dynobo ,
Sure I will test this and let you know the feedback.

[2021-05-29 12:01] thecoder-001 commented on #110
Seems to be working perfectly on initial testing on both MacOS big sur and Gnome 40. The system tray support seems to be working well too [only tested on gnome for now].
The cpu & memory resources being used while idle are also almost non-existent, making the system tray icon worthwhile.

Thanks a lot for the awesome work!

[2021-05-29 13:04] thecoder-001 commented on #110
Capturing from system tray on macos doesn't seems to be working.
[Drive link](https://drive.google.com/file/d/1FVLOLdv29wQvWeUTomU5DehrhHvKdGdV/view?usp=sharing) to video demonstrating the issue (the video was too large to be directly uploaded to github).

[2021-05-29 19:08] dynobo commented on #110
Very valuable feedback, @thecoder-001 ! Thanks, I'll work on a fix.

[2021-05-30 12:40] Takrin commented on #110
Hey @dynobo,
I've tested the Windows installer and I noticed two points:
1. The installer does not include the nice icon. You may want to add it there as well.
2. The notification only shows up in tray mode.

Thank you for this great tool!

[2021-05-30 17:02] ashishpatel1992 commented on #110
Hi @dynobo,
I have tested this and found that:-
1) No Tray Icon even after passing --tray
2) Text capturing is no more working ( I mean application gets launched, Screen can be selected but the text doesn't get copied to clipboard)

[2021-05-30 17:47] dynobo commented on #110
Hey @ashishpatel1992, thanks for testing! :-)
Could you please start the application with the two switches `--tray --very-verbose` from the command line and post the output? That would help be me debugging things...

[2021-05-30 18:27] ashishpatel1992 commented on #110
I tried running with these two switches but it didn't work. You can see the same here in screenshot. Nothing got pasted. Neither verbose worked.

![test](https://user-images.githubusercontent.com/652311/120115692-8975e600-c1a2-11eb-898a-c33a08ecbc6d.gif)

[2021-05-30 19:38] dynobo commented on #110
@ashishpatel1992 : Please try `python.exe -m normcap --tray --very-verbose`. Without the `w` in `python`.
(`pythonw.exe` is basically a wrapper for python gui applications. It suppresses any outputs.)

[2021-05-31 05:28] ashishpatel1992 commented on #110
Hi @dynobo ,
I think I am able to make it work now! Found the issue that ` tesserocr` was not installed, May be you can make clear in the README.md, as it was mentioned to follow one of the A) B) or C), Simply installing `normcap_win64_installer.exe` doesnt help.

Also a suggestion, when the app launches and if `tesserocr` is not installed, we can popup a window informing the user to install it wi

[2021-05-31 06:00] dynobo commented on #110
@ashipatel1992, theoretically, all necessary dependencies (including`tesserocr`) _should_ be included in the msi-installer. Seems like this is not yet the case, so I have to take a look into that. Thanks for identifying this issue! :)

[2021-06-16 13:35] liolio6 opened #111 "Add accent recognition"
Hello, I'm French and in French we have accent
And I think normcap doesn't recognize accented characters
Is it possible to add accent recognition ?

When I try to OCR some text with accented characters like "Désactiver"
<details>
  <summary>normcap throw UnicodeEncodeError</summary>

[code]
</details>
<details>
  <summary>I'm running normcap on Debian Buster Cinnamon and below list of tesseract on

[2021-06-17 06:00] dynobo commented on #111
Hi @liolio6
Thanks for reporting this issue an the detailed description! :blush:

That's definitely a bug. From the log it seems like the the text recognition itself went well, but putting the text into the clipboard failed. The cause seems to be unclean implementation of the encoding, which just became obvious because of the accent.

Let me see if I can find a quickfix.

PS: Unrelated to the prob

[2021-06-17 15:59] dynobo commented on #111
Fix is released for the python package.

Please update and try again:

[code]

If you still experience issues, please feel free to re-open. :-)

[2021-06-17 15:59] #111 closed

[2021-06-17 18:55] dynobo opened #114 "Please help testing the new beta version 0.2.0-b2"
I've published a 0.2.0-b2 beta-release, with major changes.

**It would be really great if you could help testing it and provide feedback (positive or negative) here in this ticket**

### Changes

- (Almost) total rewrite of NormCap!
- Switch from Tk to Qt as UI Framework
- Easy to use binary package releases (no hassle with dependencies anymore!)
- Better support for HiDPI
- Better support multi

[2021-06-17 19:00] dynobo commented on #110
Thanks, everybody, for testing and filing the issues! I (hopefully) was able to fix all of them and published another beta:

[Please help testing the beta version 0.2.0-**b2** by reporting issues to the new thread](https://github.com/dynobo/normcap/issues/114)

[2021-06-17 19:00] #110 closed

[2021-06-18 04:12] thecoder-001 commented on #114
Seems to be working well on macOS and the capture from system tray bug seems to be fixed too.
Would test on Gnome later in the evening for any regressions.

[2021-06-18 06:08] thecoder-001 commented on #114
On the other hand, the package size is looking a bit concerning (especially for macOS, where the final package takes about ~600MB in disk). Though I would be installing the module through pip, those who would end up using the prebuilt binaries would find the application size a bit too large.

A lot of the space seems to be occupied by pyside2 which seems to include a lot of unneeded stuff.
One pro

[2021-06-18 06:29] dynobo commented on #114
Thanks a lot for your comments, @thecoder-001. Especially your observations regarding the filesize are helpful, as I also think it's currently too large. I will definitely spend some time on this topic, and also ask the briefcase community about strategies to mitigate this.

[2021-06-23 16:24] dynobo commented on #39
![normcap](https://user-images.githubusercontent.com/11071876/123133596-3107d080-d450-11eb-8451-6dcebb7876ad.gif)

[2021-06-23 16:24] #39 closed

[2021-06-23 17:29] dynobo commented on #114
Thanks for the tests! I just published 0.2.0b3 (with drastically reduced file siue) as public beta on [pypi](https://pypi.org/project/normcap/) and [github](https://github.com/dynobo/normcap/releases/tag/v0.2.0b3).

Please report further problems as regular issues.

[2021-06-23 17:29] #114 closed

[2021-06-23 17:33] dynobo opened #119 "[MacOS] Red frame is not visible around menubar"
The main capture window (with the red frame) seems to always stay behind Mac's menubar. This not only looks a bit ugly, it also makes it impossible to capture text on the menubar itself.

[2021-06-23 17:34] dynobo commented on #97
The issue with "dummy window" is solved with #116 and has been published in the new v0.2.0b3.

For the problem that the window stay below the menubar, I created Issue #119

[2021-06-23 17:34] #97 closed

[2021-06-23 17:34] dynobo commented on #94
Solve by #116

[2021-06-23 17:34] #94 closed

[2021-06-23 17:35] dynobo commented on #82
Considered as solved with #116

[2021-06-23 17:35] #82 closed

[2021-06-23 18:10] dynobo commented on #92
Solved with the pre-build versions introduced with #116

[2021-06-23 18:10] #92 closed

[2021-06-23 18:11] dynobo commented on #35
Should be solveed with #116

[2021-06-23 18:11] #35 closed

[2021-06-23 18:12] dynobo commented on #18
Down to three with #116. This seems fine to me.

[2021-06-23 18:12] #18 closed

[2021-06-23 18:56] dynobo opened #120 "[MacOS] Cursor doesn't change to cross hair in multi monitor setting"
When having multiple monitors on MacOS, only on one of the monitors the cursor changes to a cross hair.
This doesn't seem to affect functionality, but might be confusing to users.

No idea where this comes from. Might be related to the focus, which only one window can have.

[2021-06-24 03:26] thangisme commented on #106
I'm facing the same issue. Installing python-devel didn't help :(
[code]

[2021-06-24 06:06] dynobo commented on #106
@thangisme, your log output seem to indicate you are missing different dependencies. Did you do

`sudo apt install tesseract-ocr tesseract-ocr-eng libtesseract-dev libleptonica-dev`

as [described in the README](https://github.com/dynobo/normcap#on-linux)?

[2021-06-24 14:27] thecoder-001 commented on #119
A similar effect can be observed in Gnome40 too.
Screenshots:
Normal-
![image](https://user-images.githubusercontent.com/25097841/123280265-45b69800-d526-11eb-980b-7d2966b116ce.png)
During capture mode-
![image](https://user-images.githubusercontent.com/25097841/123280330-51a25a00-d526-11eb-8078-696b676a9201.png)

[2021-06-24 18:13] dynobo opened #121 "[Linux] Gnome menubar disappears during screenshot"
As reported in #119 , when starting normcap on Linux with Gnome Shell, the menubar disappears temporarily and the background becomes visible:
![without menubar](https://user-images.githubusercontent.com/25097841/123280330-51a25a00-d526-11eb-8078-696b676a9201.png)

This is mostly an aesthetic issue and also prevents from capturing anything _on_ the menubar.

[2021-06-24 18:19] dynobo commented on #119
@thecoder-001  Thanks for the report! Let's track problem on MacOS here in this ticket, and the Gnome problem in #119. While the problem is indeed related, from my experience it is very likely that it has to be solved separately. I don't think there is a configuration that will work well on Gnome _and_ MacOS, but that's also not necessary, as the configuration is chosen conditionally anyway,

For

[2021-07-15 19:39] dynobo commented on #31
Won't need this any time soon.

[2021-07-15 19:39] #31 closed

[2021-07-19 19:39] dynobo commented on #86
With the [release 0.2.3](https://github.com/dynobo/normcap/releases/tag/v0.2.3) I introduced a basic check for updates. Nothing fancy, just shows a message when a new version is available with a link to the repo. You can enable it in the settings (switched off by default, as it does a request to github or pypi)

[2021-07-19 19:39] #86 closed

[2021-07-21 15:54] Flying--Dutchman opened #126 "Screen is completly black with red border"
When launching NormCap as AppImg or as a python package, the screen turn black. All I see is the NormCap red border and menu.

I can capture something, and the ocr part is working correctly, but I am unable to see what I'm capturing.

System:
 - Manjaro Linux
 - 3 Monitors
 - Nvidea GPU

![image](https://user-images.githubusercontent.com/9158539/126519944-26dd93bf-02f3-4c19-bd65-82f5ab3bb2c4.png)

[2021-07-21 16:22] dynobo commented on #126
Thanks for the bug report! Could you please provide info on:
- Version of your Manjaro
- What's your Desktop Environment? (Gnome, KDE, XFCE?)
That would help me to reproduce the bug.

[2021-07-21 16:27] Flying--Dutchman commented on #126
Oh sorry, of course:

Manjaro: Pahvo 21.1.0
Desktop Enviroment: KDE Plasma 5.22.3
Kernel: 5.4.131-1 64 Bit
QT-Version: 5.15.2

[2021-07-22 20:06] dynobo commented on #126
Hi @Flying--Dutchman,

I just tried to reproduce the issues with Manjaro 21.0.7 KDE (Live CD), but everything was working as expected.

One question: Do you know if you current setup supports window transparency? I'm not familiar with KDE, but it [seem like](https://forum.manjaro.org/t/cant-enable-blur-transparency-effect/25229) this depends on the compositor as well as the used theme.
It would re

[2021-07-23 14:46] Flying--Dutchman commented on #126
That did the trick!

Appearently composer shut itself off a while ago. Restarted it and now everything works fine :+1:

[2021-07-23 14:46] #126 closed

[2021-07-27 04:30] quopquai opened #127 "please pre-package Japanese [horizontal + vertical]"
would it be possible to add Japanese as one of the pre-packaged languages?

You can select jpn or jpn_vert from the cog wheel's options
if the program is opened via the terminal [ON A MAC]
as well as a whole host of other languages, which is awesome,
[I assume these are all the tesseract languages available?]
You can select and deselect as many of these other languages as you want,
but doesn't see

[2021-07-27 16:17] dynobo commented on #127
Thanks for your report, quopquai!

The first two point are clear:
- Include jpn: Sure, I'll add it to the next release
- Issues with settings when starting from cli: Currently all settings from the cog wheel should be ignored, as soon as you start from cli with _any_ argument. I see that is not intuitive, I'll try to find a better solution.

The third issue (unable to drag out the box when startin

[2021-07-27 18:21] quopquai commented on #127
Hey,

- I'm on macOS Mojave Version 10.14.6
- no external monitors, but I often use several desktops for multi-tasking [not sure if that's helpful?]
- I believe I downloaded both the dmg which I dragged into my applications folder, and the Python package.
- I just type "normcap" which opens up the program. the pink border and cog and menubar icon appears
and then, "normcap --languages jpn+jpn_vert

[2021-07-27 21:51] 1lgatto opened #128 "Application crashes and refuse to start"
## Application has crashed!

`<Traceback (most recent call last):
  File "NormCap.app/Contents/Resources/app/normcap/__main__.py", line 3, in <module>
    from normcap.app import main
  File "NormCap.app/Contents/Resources/app/normcap/app.py", line 13, in <module>
    from normcap import __version__, utils
  File "NormCap.app/Contents/Resources/app_packages/shiboken2/files.dir/shibokensupport/__fe

[2021-07-29 17:57] dynobo commented on #128
Thank for reporting this, @1lgatto.

The issue is clearly related to the packaging for MacOS: `liblept.5.dylib`, a dependency for NormCap, get's shipped with the prebuild-package, but `libpng16.16.dylib` another dependency for _that_ dependency is not included.

I wonder, if you just have a different version of `libpng` installed, or if it is missing completely. Would you please run the following

[2021-07-29 20:29] dynobo commented on #127
@quopquai, I just released [v0.2.4](https://github.com/dynobo/normcap/releases/tag/v0.2.4) which (hopefully) address all your mentioned issues.

Could you please try both pre-build package and python package and report back your experience?

1. Pre-build package: Do the new languages `jpn` and `jpn_vert` work for you?
2. Python package: If you start `normcap` through command line, can you select t

[2021-07-30 23:50] vinniec opened #131 "appimage error"
I'm trying the appimage but trying it to lang I get this error:
./NormCap-Linux.AppImage
/tmp/.mount_NormCasYMHFZ/AppRun: riga 7:  9375 Annullato               $APPDIR/usr/bin/python3 -s -m normcap "$@"

[2021-07-31 07:00] dynobo commented on #131
Hi @vinniec, thanks for your bug report!

Can you please provide some additional infos:
- Linux distribution & version
- Display Manager (KDE, Gnome, XFCE,...)
- Output when you run `./NormCap-Linux.AppImage --very-verbose`

Thanks!

[2021-07-31 23:40] vinniec commented on #131
kali-rolling 2020.2
xfce 4.14
[code]

Thanks for the reply :)

[2021-08-01 09:35] dynobo commented on #131
Interesting bug.

I tried to reproduce it with [Kali VirtualBox Image](https://www.kali.org/get-kali/#kali-virtual-machines), but here the AppImage works without any issues.

Could you please check if you have the following two packages installed:
[code]
If one of them is missing, please try installing them.

If this does not solve the issue, please try running NormCap also with the qt debug envir

[2021-08-01 10:43] dynobo opened #132 "Create landing page for github pages"
I'm looking for a contributor to prepare a nice landing page for NormCap on github pages.

It could contain links to pre-build packages and  information currently living in [README](https://github.com/dynobo/normcap/blob/main/README.md), [FAQ](https://github.com/dynobo/normcap/blob/main/FAQ.md) and [CHANGELOG](https://github.com/dynobo/normcap/blob/main/CHANGELOG.md). But I'm very open regarding c

[2021-08-01 23:30] quopquai commented on #127
dynobo,

sorry for the late response.
I just updated both packages and everything works perfectly now!!!

I can confirm,

1. jpn and jpn_vert are now available in the pre-build
2. selecting the region to detect now works when activated from the terminal
3. the cog-wheels in both packages appear to work as expected

I think you've just increased my productivity
thank you for your amazing work!
this

[2021-08-02 00:01] vinniec commented on #131
Work flawlessly! the missing package was libxcb-util1! Thanks for the help!
I have another wounder, it possible to use it as a library in python to automatically capture a portion of the screen isntead to select by hand?

[2021-08-02 15:45] dynobo opened #133 "Provide screen-coordinates to text as separate Python package"
It would be nice to split normcap into two packages:

- One that does the screen-rect to text (OCR) and is targeted towards devs
- One that just uses the package above and wraps it around a nice interface with settings.

[2021-08-02 15:57] dynobo commented on #131
Good to know! I'll add an info text that asks the user to install `libxcb-util1` in case of that error occurres. :-)

The idea about separating the ocr-parts into a separate library is nice an definitely helpful. I'll add in on my backlog: #133

However, this is currently not high prio, so you might want to take a look at [screen-ocr](https://github.com/wolfmanstout/screen-ocr) or [textshot](https

[2021-08-02 15:57] #131 closed

[2021-08-02 16:15] dynobo commented on #127
Hi @quopquai, I'm glad everything is working now :-)

Regards offering a keybinding: The idea is good, similar request have already been brought up (#103). Sadly it is quite hard to implement, as there is no standard to do this across operating systems or display managers. Also it is quite "invasive" as global hotkeys are usually registered deeply in the system.

I recommend to use the native func

[2021-08-02 16:31] #127 closed

[2021-08-08 06:50] dynobo commented on #121
Should be solved by PR #136

[2021-08-08 06:53] #121 closed

[2021-08-08 06:58] dynobo commented on #119
PR #134 introduced a partial fix: The border is now drawn around whole screen, incl. dock & menubar. However, menubar & dock are still not selectable areas.

An alternative solution I found makes everything selectable, but won't accept keyboard input (No close via `esc`) and won't show the cross hair cursor.

Not sure, what's better. Please provide your opinion... :)

[2021-08-11 21:18] 1lgatto commented on #128
Definitely.

[2021-08-13 06:05] ashishpatel1992 opened #135 "[MacOS] Unverified Developer. Possibility to sign the app?"
Issue on MacOS, is it possible to get app signed
[code]

[2021-08-13 07:25] dynobo commented on #135
I briefly looked into this already. It seems like signing Apps [requires a 99€ yearly subscription to Apple Dev Program](https://developer.apple.com/support/compare-memberships/).

Despite the financial aspect, to me as an Open Source Fan this practise somehow doesn't feel right.

Also I wonder, how many MacOS users NormCap has and how important for them it is to have it signed.

But that are just

[2021-08-13 14:22] GrpeApple commented on #128
On a clean MacOS installation, `/usr/local`(or `libpng` in this case) does not exist as far as I know.

[2021-08-13 15:06] ashishpatel1992 commented on #135
Yes It requires fee. But I do read here that https://developer.apple.com/support/membership-fee-waiver/ we can apply for fee waiver program if we our app is not paid. Can we try that based on the grounds of being open source and free forever product?

[2021-08-13 15:34] dynobo commented on #128
Thanks for the infos, @1lgatto and @GrpeApple . I'll try to include `libpng` into the next package.

(Some background: Theoretically, all dependencies should be discovered by the packaging tool [`briefcase`](https://github.com/beeware/briefcase), but it doesn't find all of them. I do my best to [add them manually](https://github.com/dynobo/normcap/blob/4781fe96960addd2fd10c35c8236a7d7c98827ea/buil

[2021-08-18 05:01] koverg70 opened #136 "Windows GUI settings not persisted"
I have downloaded the Hungarian traineddata file and put it in resources. The hun language is selectable in the settings. But each time I start the program (even if keep on system tray is on) the chages in language settings are gone, and have to set it up again.

[2021-08-18 07:44] dynobo commented on #136
Thanks for the problem report, @koverg70 .

Can you please tell me a bit more about your setup?
Did you install NormCap (a) from the Python package (`pip install normcap`), or did you (b) used the pre-build release package (`NormCap-Windows.msi`), or are you (c) working with the source repository?

[2021-08-18 07:48] amaldesigns opened #137 "Arabic language Detection Help needed"
Arabic language Detection Help needed.

Could u plz help in adding Arabic language detection

also POSSIBLE solutions for API integration

[2021-08-18 07:51] dynobo commented on #135
@ashishpatel1992 , I interpret this "fee-waiver" article as applicable to larger open source _organisations_, not to individual project. But I'll give it a low effort try and see what they respond...

[2021-08-18 08:51] dynobo commented on #137
@amaldesigns , thanks for your request! I already have an idea how I can make NormCap easier extensibility with more languages. It will need some time, but it's definitely the next thing I'll do. :)

Regarding the API, that's already on the roadmap, but with lower priority. It's tracked in #133.

[2021-08-18 11:33] amaldesigns commented on #137
Also i would like to know, how will it work if i have a 3 pages document only the screen can be selected.
While only a portion of 3 pages could be displayed in screen.
Hope u will add a capture option, where i could choose entire scree, selection of screen and entire document

[2021-08-18 18:36] dynobo commented on #137
Sorry, I will not implement support to recognize something like e.g. multiple pages of the same document, this is just out of scope for NormCap.

You always *can* use NormCap in such a situation, but you will have to capture the three pages separately and paste the results together manually and this is cumbersome. For such a use-case I suggest to leverage an [OCR software that is specialized on do

[2021-08-27 16:45] nesper8 opened #139 "[CRASH] Normcap starts but crashes at capturing"
**OS:**
Arch Linux

**Python Version:**
3.9.6

**Version:**
Normcap 0.2.5 PIP version

**Log:**
[code]

Thank you very much in advance

[2021-08-27 21:21] #139 closed, assigned to nobody

[2021-09-12 17:44] sojusnik opened #141 "How to set preferred languages under Linux?"
Using Ubuntu 21.04 and installed NormCap with `sudo apt install tesseract-ocr tesseract-ocr-eng tesseract-ocr-deu tesseract-ocr-rus libtesseract-dev libleptonica-dev python3-dev` and `pip install normcap`.

English text is recognized flawlessly, but German and Russian aren't, although the proper packages are installed.

My `/.config/normcap/settings.conf` contains:

[code]

I assume that I have to

[2021-09-12 17:56] sojusnik opened #142 "NormCap doesn't work with notification=false in Ubuntu"
When `notification=false` in `~/.config/normcap/settings.conf`, then the OCR doesn't work.

Using Ubuntu 21.04 and installed NormCap with `sudo apt install tesseract-ocr tesseract-ocr-eng tesseract-ocr-deu tesseract-ocr-rus libtesseract-dev libleptonica-dev python3-dev` and `pip install normcap`.

This should help:
[code]

BTW, thanks for creating NormCap! It's a great time saver!

[2021-09-12 19:40] sojusnik commented on #141
Oh, just noticed the settings cog in the right upper corner, where you can select the languages. My fault, sorry!

[2021-09-12 19:40] #141 closed

[2021-09-12 21:56] dynobo opened #143 "[Linux] Language option in settings.conf not human readable"
In #141 it was noticed, that the config file (on Linux) doesn't contain the language setting in a human readable form. Instead it looks like this:

[code]

While not necessary for the functionality (the language can be changed in the settings menu via GUI), it still would be preferable to have it stored in readable form.

Also need to check, if this is the case for MacOS, too.

[2021-09-12 22:00] dynobo commented on #141
Oh, but  thanks for the (closed) bug report, nevertheless! I didn't notice the bad representation of the language option in the `settings.conf` before! As I'd prefer to have a human readable representation, I'll opened #143 and will track that there :-)

[2021-09-12 22:02] dynobo commented on #142
Thanks for the bug report! I'll have to look into that...

[2021-09-12 22:56] sojusnik commented on #64
The awesome [OCRmyPDF](https://github.com/jbarlow83/OCRmyPDF) is doing [this](https://ocrmypdf.readthedocs.io/en/latest/optimizer.html) optimizations, maybe they will serve as an inspiration.

[2021-09-15 07:53] akram opened #144 "Reduce .dmg package size"
Hi team and thank you for your work,

that would be great if you could reduce the size of the dmg. 105MB is quite big actually compared to similar solutions that are between 1MB et 20MB. Maybe the difference is that OCR happens locally with normcap? and some other apps uses web queries to do the job?
That would be good also to explain why normcap is 100MB+

thanks

[2021-09-15 18:18] dynobo commented on #144
Hey @akram, thanks for the great question. File size is always important to me!

Allow me to elaborate a bit on this, so people can better understand the challenges and provide proposals.

*Note:* Everything that follows is only valid for the **prebuild packages** of NormCap! (The Python package is by itself really tiny and the (large) dependencies can be shared with other applications, if install

[2021-09-23 08:52] akram commented on #144
Thanks @dynobo for the very detailed and justified explanations.

To make a reasonnable and effective decision, I would say that it is required to know how users use the application.
On my side, it is a really sporadic use, specifically when people sends me screenshots of bank account number instead of a clean PDF. As this was happening quite often I need a solution like normcap to capture that by

[2021-09-25 21:34] #142 closed

[2021-09-25 21:36] dynobo commented on #142
Should be fixed in NormCap v0.2.7 :-)

[2021-09-27 13:34] caramelized-jd opened #146 "Unable to Install v0.2.7; Repeatedly Encountering Error Code 2349."
I have attempted to install v0.2.7 via the NormCap-Windows.msi file two days ago and again today. I am repeatedly encountering the following error during setup: "The installer has encountered an unexpected error installing this package. This may indicate a problem with this package. The error code is 2349."

I am installing the software to a 64-bit Windows 10 Pro for Workstations, Version 21H1, OS

[2021-09-27 16:45] dynobo commented on #146
Thanks for the bug report, @caramelized-jd. Unfortunately I'm not yet able to reproduce the issue. Can you please provide additional info?:

1. Are you trying to update NormCap? (Do you already have an older version installed?)
2. If yes, which version? (You can find it e.g. in Windows under "Add/remove programs")
3. If no, can you please test if the installation of [NormCap v0.2.6](https://github

[2021-09-28 19:41] caramelized-jd commented on #146
Hi Dynobo,

1. I was trying to perform a new install of NormCap The software was previously installed on that computer but was uninstalled at the time of the attempted installation. I do, incidentally, have v0.2.7 installed on my other computer.

3. I installed NormCap v0.2.6 just now on the first computer without issue. I then attempted to install v0.2.7 on top of it, but I received the error:

"

[2021-10-07 12:01] igorlogius opened #147 "[Feature Request] Would a flatpak package distribution be possible?"
Would it maybe be possible to add a flatpak based distribution?

I asking because i can see myself and others  running this  software on a day to day basis and
I came to like flatpak packages since i find the concepts  it imploys
(sandbox, dbus(gates), shared repos (ostree),  xdg desktop integration, configurable repository, ... )  rather compeling and in comparison to other alternatives complete

[2021-10-08 07:43] dynobo commented on #147
Thank you for your feedback, @igorlogius.

I don't have any experience with flatpak and getting into it is not very high prio for me. Still I agree, it would be nice to have!

It would be great, if someone could help out here :blush:

[2021-10-19 18:58] dynobo commented on #146
Hi @caramelized-jd ,

today I got hands on another Windows machine and tried to reproduce the issue, still without any luck.

Could you please create a log file of the installation?
1. Download the [NormCap-Windows.msi](https://github.com/dynobo/normcap/releases/tag/v0.2.7)
2. Open a command prompt and navigate to the folder of the downloaded msi-file
3. Start the NormCap installer with the follow

[2021-10-19 19:13] dynobo opened #148 "[Windows] Allow upgrading with msi-installer"
Currently, a new version is installed _alongside_ the existing version. This might lead to confusion or bugs.

WIX should be configured to [allow upgrades](http://wixtoolset.org/documentation/manual/v3/xsd/wix/majorupgrade.html) instead. (See also [SO-Discussion](https://stackoverflow.com/a/3575801))

[2021-10-20 19:50] dynobo commented on #148
Fixed released with [v0.2.8](https://github.com/dynobo/normcap/releases/tag/v0.2.8).

[2021-10-20 19:50] #148 closed

[2021-10-20 19:50] dynobo commented on #143
Fixed released with [v0.2.8](https://github.com/dynobo/normcap/releases/tag/v0.2.8).

[2021-10-20 19:50] #143 closed

[2021-10-28 17:50] sharygin opened #151 "[Feature Request] Batch processing"
Would it be possible to set this up to run batch, e.g. on a set of files in a directory or a list of files in a text file?

[2021-10-28 22:35] #151 closed, assigned to nobody

[2021-10-31 09:45] dynobo commented on #146
I can't see a log attached. Maybe something went wrong with the upload?

[2021-11-06 20:50] dynobo commented on #132
Done: https://dynobo.github.io/normcap/

[2021-11-06 20:50] #132 closed

[2021-11-16 13:44] nesper8 opened #153 "[ERROR] Not launching in Fedora 35 Wayland"
Log:
[code]

[2021-11-16 20:18] dynobo commented on #153
Thanks for reporting this issue!
Which Desktop Environment are you using? Gnome Shell? If yes, which version? `Thanks for reporting this issue!
Which Desktop Environment are you using? Gnome Shell? If yes, which version? `Thanks for reporting this issue!
Which Desktop Environment are you using? Gnome Shell? If yes, which version? `gnome-shell --version`

[2021-11-17 20:48] dynobo commented on #153
Oh, take a second look, I've noticed that you are using the very old version `v0.1.13`.
Can please update and try again? (Or do you have a reason why you are using that old one?)

[2021-11-18 10:17] nesper8 commented on #153
GNOME Shell 41.1

Im using the pip version actually which is not upgrade after `pip install --upgrade normcap`

[2021-11-18 10:24] nesper8 commented on #153
This comes on the latest AppImage
[code]

[2021-11-30 14:21] fischer-felix opened #154 "Blank screen on Arch"
I run archlinux kde and upon launching normcap I only see this:
![Screenshot_2021 11 30_15:17:58](https://user-images.githubusercontent.com/65448408/144063921-5ed04a3d-43fc-4329-a5e1-05ec00d77a65.png)
It seems to be inline with issue 126 over on giters, although it wasn't fixed for me by enabling the compositor (it was never off), and I know that I can have transparent windows, asl GLava works fin

[2021-12-06 12:47] Shaurya-Kalia opened #155 "Does not work on wayland (plasma)"
On using on wayland, screen becomes grey with ability to select area. Choosing a random area does nothing though
![Screenshot_20211206_181619](https://user-images.githubusercontent.com/6441797/144848524-752f82f2-5565-4d70-ba86-5ced9a513ffe.png)

[2021-12-07 04:38] jechaviz opened #156 "Doesn't detect well line break"
If I try to capture a snippet of code, after ; always shrinks the line break. Just try with any java code.

[2021-12-07 09:18] eberna opened #157 "skip ocr on debian"
OS:
Debian Testing

Python Version:
3.9.9

Version:
Normcap 0.2.8 PIP version

Log:
[code]
Using Normcap on  debian testing produce this issue, same error for the Appimage version.

[2021-12-13 11:13] inuxor opened #158 "Spaces between Chinese characters"
Great job!
But,
We do not use a space between characters in Chinese.
I guess the Japanese and some other Asian languages have the same problem.

[2021-12-15 18:58] dynobo commented on #158
Hi @inuxor, thanks for comment! Could you please provide some more information? That would help me to fix this issue:

1. Does this also apply to line-breaks and/or paragraphs? (How do sentences and paragraphs get separated?)
2. Afaik there are two chinese languages for tesseract: `chi_sim` and `chi_tra`. Does the issue apply to both of them?
3. Please provide a example screenshot of some medium-l

[2021-12-15 19:01] dynobo commented on #157
@eberna , could you please tell me your gnome shell version? (`gnome-shell --version`)

[2021-12-15 19:14] dynobo commented on #156
Thanks for reporting this issue, @jechaviz.
Indeed, handling line breaks (and white space in general) is quite rudimentary, at the moment.

By default, NormCap runs in "parse" mode, where it applies some heuristics to guess, if a line break in the text should be removed (which is most often useful, if you just want to capture a paragraph of text). But the "parse" mode breaks totally, when you try

[2021-12-16 07:31] eberna commented on #157
@dynobo it is the GNOME Shell 41.1
thank you

[2021-12-16 16:49] dynobo opened #159 "[Linux] OCR not working on Gnome-Shell v41+"
**Affected:**
- Linux users using the newer wayland version that gets shipped with Gnome-Shell v41+, e.g.:
   - Debian Testing
   - Fedora 35
- Both Python package and prebuild appimage are affected

**Symptoms:**
- No OCR is performed and nothing is copied to the clipboard
- When running `normcap -V` in the console, the log includes the following line:
[code]
- You might also get an traceback out

[2021-12-16 17:07] dynobo commented on #157
@eberna, you are probably having the same problem as #153. I summarized the underlying issue and pinned it as I expect more people to be affected, soon. Please follow that issue to get informed about any updates:
- [[Linux] OCR not working on Gnome-Shell v41+ ](https://github.com/dynobo/normcap/issues/159)

[2021-12-16 17:12] dynobo commented on #153
Hey @nesper8, I identified the root-cause. As other users are affected, I decided to track the issue in #159.
Please follow that issue to get informed about updates.

[2021-12-16 17:44] dynobo commented on #155
Hi @Shaurya-Kalia,

NormCap on Plasma requires window transparency to be set on. It [seems like](https://forum.manjaro.org/t/cant-enable-blur-transparency-effect/25229/2) that depends on the compositor as well as the used theme. Could you please check if this is the case for your distro as well?

If that's not the case, please provide the name and version of your distro, plus the name of the plasm

[2021-12-16 17:51] dynobo commented on #154
Hi @fischer-felix, yes, that indeed looks like a transparency issue that sometimes appears together with Plasma (KDE).
I'm not too familiar with KDE, but it seems like window transparency depends on compositor _and_ the theme in use, as that has to support transparency, too.

Could you please try with a different theme?

If that doesn't help, I'll have to replicate this by myself, which will not b

[2021-12-17 09:35] Shaurya-Kalia commented on #155
Okay, i forced it with kwin compositor to have less opacity, but it does not seem to work. On running with terminal, it gives the following error on selecting any area
`15:02:49 - WARNING - normcap.main_window    - L:285 - Area of 0 too small. Skip OCR`

[2021-12-17 11:57] inuxor commented on #158
![Screenshot_20211217_192407](https://user-images.githubusercontent.com/1345457/146537839-58875b77-134c-47f3-ad5c-313fd0501c35.png)
![Screenshot_20211217_192733](https://user-images.githubusercontent.com/1345457/146541481-d79aa99c-5427-433a-8d13-16645dd9f534.png)

`傅平安看到母亲骂大街的时候哭了，我也泪目了，那是一种少年终于发现父母无力保护自己时的悲伤，少年踏上社会，才知道这个社会有多残酷无情，曾经像天一样的父母其实只是普通人，在滚滚红尘中他们自顾不暇，幼鹰出巢的那一刻起，能依靠的就只有自己的翅膀。`

`
信 平 安 看 到

[2021-12-18 11:57] dynobo commented on #158
This is indeed seems to be caused by an open issue in tesseract: https://github.com/tesseract-ocr/tesseract/issues/2702

I'll try adding a simple heuristic to remove the superfluous spaces in the next version, to mitigate the time until it's fixed upstream.

[2021-12-21 23:05] jechaviz commented on #156
Yes it helps. Thank you. You can close this ticket, and I'll wait your update.

[2021-12-23 07:50] dynobo commented on #153
@nesper8 The error you see in AppImage is a different one. It seems like some dependencies are not getting properly packed. Looking into that one, too.

[2021-12-26 01:43] Lonniebiz commented on #154
I'm having a similar issue in Debian, using [Awesome](https://awesomewm.org/) as my "desktop". Is there a particular compositor that is known to function well with Awesome for NormCap?

[2021-12-27 19:04] dynobo commented on #158
@inuxor, mind taking [v0.2.10](https://github.com/dynobo/normcap/releases/tag/v0.2.10) for a test drive?

The spaces should now get removed, but only if you've selected *only* Chinese languages in the settings: it should work, if you have checked "chi_sim" + "chi_tra", but it won't work if you have checked a non Chinese language as well, e.g. "chi_sim" + "eng".

Hopefully this mitigates the issue

[2021-12-27 19:08] dynobo commented on #159
The issue with performing the screenshots should be fixed in [v0.2.10](https://github.com/dynobo/normcap/releases/tag/v0.2.10).

This means, on Gnome 41+ you will get asked to grant screenshot permission _every time_ you try to recognize a text. (Hopefully, Gnome Devs will add an option to remember this decision.)

[2021-12-27 19:08] #159 closed

[2021-12-27 19:12] dynobo commented on #154
@Lonniebiz, unfortunately I have no experience with Awesome.

[2021-12-27 19:19] dynobo commented on #153
@nesper8, I just released the [v0.2.10](https://github.com/dynobo/normcap/releases/tag/v0.2.10), it should fix the [your first error](https://github.com/dynobo/normcap/issues/153#issue-1054898612), but it doesn't yet solve [the appimage dependency issue](https://github.com/dynobo/normcap/issues/153#issuecomment-972732539).

However, as the Python package shouldn't have any dependency issue (becaus

[2021-12-27 19:22] dynobo commented on #136
In the latest [v0.2.10](https://github.com/dynobo/normcap/releases/tag/v0.2.10) I fixed an issue that could have caused such an issue. To do you want to try the new version and report back, if the issue is still there for you? Thanks!

[2021-12-28 04:50] nesper8 commented on #153
I... uh switched to windows so really cant test it out

[2021-12-28 04:50] #153 closed

[2021-12-30 11:49] nesper8 commented on #153
back on fedora again
pip version works pretty well

would love to see if it would remove the dependancy for xclip sometime in the future

[2021-12-30 13:32] dynobo commented on #153
@nesper8 Oh, if I remember correctly `xclip` actually shouldn't be a dependency anymore. It was dropped as dependency quit some time ago... Did I miss it somewhere in the documentation?

[2021-12-31 07:00] nesper8 commented on #153
yeah looks like i have an older version 0.1.13 spcifically due to python3.10+

[2021-12-31 15:38] dynobo commented on #153
Thx for trying and reporting back, @nesper8 ! :blush:

Yes, I couldn't solve the openssl issue in the appimage (yet).

No need to uninstall your system's Python version in order to use a different version: It is quite common to install different versions in parallel, afaik [`pyenv`](https://github.com/pyenv/pyenv) is the most popular tool for that.

However, if you are not familiar with `pyenv`, I

[2022-01-13 17:53] #156 closed

[2022-01-13 17:56] dynobo commented on #155
@Shaurya-Kalia, Just FYI: I'm exploring an alternative way display method for NormCap, where instead of showing a transparent window as an overlay, I show a normal window but with a screenshot of the desktop as background image. (Many screenshot tools are doing it like this, especially if they have to work cross platform). If that turns our to work, it won't require window transparency anymore and

[2022-01-16 12:03] nesper8 commented on #153
no worries mate
after rigorous testing i finally got the latest version working through the magic of shell scripts

[2022-01-18 14:13] mnn commented on #154
Same issue on Manjaro with i3 (without compositor, 3 monitors, 2 are mirrored).

[2022-02-02 13:30] LifeWatcher123 opened #168 "Not working on Linux Mint"
It seems the project is dependent on the 'gnome-shell'. This makes the program throw an error on Cinnamon-based desktops on Linux Mint.

[code]

[2022-02-02 17:12] dynobo commented on #168
Hi @LifeWatcher123, thanks for reporting this bug.
NormCap is not dependent on `gnome-shell`, it just checks if its used (to adjust certain behavior). The error you see clearly indicates, that I haven't made this check robust enough, I'll fix that in the next version. :-)

You are using the latest version `NormCap v0.2.10`, correct?  I'm asking, because I fixed a similar issue recently...

[2022-02-03 03:34] LifeWatcher123 commented on #168
Yes, I am.

[2022-02-03 22:57] typoman opened #170 "ValueError: invalid literal for int() with base 10: '95.000000'"
I get a traceback when I select the screen region. I installed `normcap` using pip. I'm sending this because at the end of traceback I was asked to send it here. I'm running OSX 10.15.7.

[code]

When I change the mode to capture raw traceback changes to:
[code]

[2022-02-04 15:40] dynobo commented on #170
Hey, thanks for reporting this issue! :-)

Can you please check your tesseract version?: `brew info tesseract`.

Homebrew recently switched from tesseract 4 to 5, which seems to make problems together with the Python library tesserocr. If you have version 5, too, you could try to install version 4 as a workaround:
[code]

In the meanwhile I'm in the progress of a bigger update, which includes supp

[2022-02-09 08:31] artemgur commented on #170
I have the same issue on Manjaro with Tesseract 5

[2022-02-13 09:59] dynobo commented on #170
Hi @artemgur, hi @typoman, this issue was addressed in the latest pre-release `NormCap v0.3.0-beta`.
Would you mind [help testing `v0.3.0-beta`](https://github.com/dynobo/normcap/discussions/178) and report back, if it solves this issue? Thanks!

[2022-02-13 10:00] dynobo commented on #155
Hi @Shaurya-Kalia , this issue was addressed in the latest pre-release `NormCap v0.3.0-beta`.
Would you mind [help testing `v0.3.0-beta`](https://github.com/dynobo/normcap/discussions/178) and report back, if it solves this issue? Thanks!

[2022-02-13 10:00] dynobo commented on #154
Hi @mnn, hi @Lonniebiz , this issue was addressed in the latest pre-release `NormCap v0.3.0-beta`.
Would you mind [help testing `v0.3.0-beta`](https://github.com/dynobo/normcap/discussions/178) and report back, if it solves this issue? Thanks!

[2022-02-13 10:01] dynobo commented on #119
This issue was addressed in the latest pre-release `NormCap v0.3.0-beta`.
Would you mind [help testing `v0.3.0-beta`](https://github.com/dynobo/normcap/discussions/178) and report back, if it solves this issue? Thanks!

[2022-02-14 20:26] mnn commented on #154
It looks good, no more black screen :+1:. Second monitor is a bit shrunk (I guess the overlay on a second monitor doesn't cover whole screen, but a "screenshot" of a whole screen is used and then downsized to a maximal window size, so it doesn't cover bottom and top bar from i3), but it doesn't seem to negatively impact functionality (it's downsized, not cropped).

Text recognition works. I am not

[2022-02-17 20:26] Shaurya-Kalia commented on #155
Built normcap unstable from source. Get the following error on selecting a region:
`01:54:51 - ERROR   - normcap.utils          - L:104 - Uncaught exception! Quitting NormCap!
Traceback (most recent call last):
  File "/usr/lib/python3.10/site-packages/normcap/gui/main_window.py", line 275, in _grab_image
    self.capture = grab_screen(capture=self.capture)
  File "/usr/lib/python3.10/site-package

[2022-02-17 20:36] dynobo commented on #155
@Shaurya-Kalia: Thanks for trying to help! Did you use the code-base from the [dev](https://github.com/dynobo/normcap/tree/dev)-branch? (The file `screengrab.py` in the error got renamed some time ago, and shouldn't be existing in the v0.3.0-beta)

PS: I got myself confused by my uncommon beta-release strategy... :see_no_evil:
Will try to do this better next time...

[2022-02-17 20:48] Shaurya-Kalia commented on #155
I guess i used the unstable release in main branch. I will try with unstable release of dev branch then

[2022-02-17 21:09] dynobo commented on #155
Thanks, @Shaurya-Kalia. Sorry for the confusion, it seems like I messed up the "Release": The source tar balls actually contain the main branch, but it was build from dev branch... If you just checkout/download the latest version on `dev`, that's best, I guess.

[2022-02-19 20:00] bogdancovaciu opened #181 "appimage v3 beta"
Hello,

**On Gnome**
- Wayland session, the appimage simply invokes the `xdg-desktop-portal-gnome` screenshot tool and grabs the entire screen, then it closes, leaving just the Screeshot dialog to save the image file ...
- X11 session, with the Pop_Shell extension enabled, the appinage only shows the grab screen on the secondary monitor, with no options to change language, no settings gear visible

[2022-02-21 12:32] chbo70 opened #182 "normcap doesnt recognize and copy text"
i just setup my arch linux and installed normcap, after starting the app i tried to copy a text but i get an error message.

![image](https://user-images.githubusercontent.com/96340581/154955697-f1ba0458-00ff-4dee-8530-6bd9be9f666f.png)

i tried reinstalling, however the problem remains

thanks in forward :)

[2022-02-21 17:11] dynobo commented on #182
Hi @chbo70, thanks for reporting this issue.

Do you have Tesseract 5.x installed? (Check with `tesseract --version`). Because this seems like the same issue reported in #170.

[2022-02-21 17:17] chbo70 commented on #182
@dynobo  yes it seems to be tesserat version 5.0.1.

[2022-02-21 17:20] chbo70 commented on #182
should i downgrade to tesseract 4.x? if so how can i do it, because iam still relatively new to linux :)

[2022-02-21 19:46] dynobo commented on #182
If you're new Linux, I'd wouldn't recommend downgrading. I'd suggest one of the two options:

a) Use the AppImage version of NormCap: [Download the AppImage release](https://github.com/dynobo/normcap/releases/tag/v0.2.10), run `chmod +x NormCap-0.2.10-x86_64.AppImage` to make it executable, and then start NormCap with `./NormCap-0.2.10-x86_64.AppImage`.

b) Wait some more time. I'm currently worki

[2022-02-21 19:46] dynobo commented on #182
Duplicate of #170

[2022-02-21 19:46] #182 closed

[2022-02-21 20:15] chbo70 commented on #182
@dynobo  thank you very much :) it works fine now i just set keybinding. cant wait for the new version and thanks for this awesome software

[2022-02-23 16:46] dynobo commented on #181
Thanks for reporting this issue, @bogdancovaciu. Could you please provide some info additional info?
- Which Linux Distribution and version are you using?
- Which version of Gnome are you running? (`gnome-shell --version`)

[2022-02-24 08:24] bogdancovaciu commented on #181
KDE Plasma:
[code]

Gnome:
(give me a moment to reboot and provide more acurate info)

[2022-02-24 14:59] tobiastesteron opened #184 "Error under manjaro 21.2.2 - might be similar to #155"
Installed from AUR normcap 0.2.10-1

The following appears when run in Konsole with -v:
normcap -v                                                                                                                                                                                           ✔
15:35:30 - INFO    - normcap.app            - L:41  - Start NormCap v0.2.10
15:35:30 - INFO    - normcap.utils

[2022-02-24 20:38] dynobo commented on #170
I'm pinning this issue, because more people are reporting issues.

**Short summary:**

- The issue occurs when NormCap 0.2.* is used together with Tesseract 5.*, because NormCap currently only supports Tesseract up to version 4.
- The recommended workaround is to use [a prebuild version of NormCap 0.2.10](https://github.com/dynobo/normcap/releases/tag/v0.2.10), e.g. the AppImage for Linux. (Those

[2022-02-24 20:41] dynobo commented on #184
Hi @tobiastesteron, thanks for reporting the issue. Actually, you are not the first one with that problem, please take a look at #170, especially at [my latest comment there](https://github.com/dynobo/normcap/issues/170#issuecomment-1050242203).

I'm closing this ticket as duplicate for now, if it turns out that your problem is something different, please feel free to reopen.

[2022-02-24 20:41] #184 closed

[2022-02-24 20:45] dynobo commented on #181
Thanks a lot, @bogdancovaciu! I'm already on the issue with KDE (it uses a different screenshot mechanism under Wayland than Gnome does.). I couldn't yet reproduce the issue under Gnome, but I only tried Ubuntu so far. I'm going to setup a VM with Manajaro as a next step.

[2022-02-24 20:48] dynobo commented on #136
Closing for now. Please reopen, if the issue persists.

[2022-02-24 20:48] #136 closed

[2022-03-01 14:42] Pamalosebi opened #188 "Arch: Uncaught exception. Quitting NormCap."
Hi,

I am using Arch Linux with the Xfce Desktop Environment.
And when a screenshot is taken, normcap is crashing:

[code]

Am I doing something wrong?

[2022-03-01 14:46] Pamalosebi commented on #188
I was too fast and just saw #170.

[2022-03-01 14:46] #188 closed

[2022-03-09 22:36] knochenhans opened #189 "Settings not accessible (0.3.0b1)"
Hi, I’m unable to access the settings when running normcap. The gear symbol in the upper right corner is visible but doesn’t respond to clicks. I’m using normcap 0.3.0b1 under Arch Linux with XFCE 4.16.

[2022-03-16 18:34] dynobo commented on #135
Just listing some task / resources which I think are necessary (and missing) to sign the app for MacOS:

- [ ] 99$ per year
- [ ] Membership for Apple Dev Program
- [ ] A Mac for setting everything up, at least initially
- [ ] Adoption of the GH Actions pipeline to perform the signing automatically on release

[2022-03-16 21:23] dynobo commented on #189
I was able to reproduce the issue. Working on a fix.

[2022-03-18 07:21] #189 closed

[2022-03-18 17:23] dynobo commented on #146
Lots of changes happened in the meantime. Closing this ticket for now.
Please feel free to re-open, in case this is still an issue with the latest release.

[2022-03-18 17:23] #146 closed

[2022-03-18 17:28] dynobo commented on #168
This issue should be fixed in the latest [NormCap v0.3.0b2](https://github.com/dynobo/normcap/releases/tag/v0.3.0b2) release. Want to give it a try?

[2022-03-18 17:33] dynobo commented on #170
The [NormCap v0.3.0b2](https://github.com/dynobo/normcap/releases/tag/v0.3.0b2) release should not have this issue anymore (it has support for Tesseract 5). Please give it a try, and report back, if it works!

[2022-03-20 20:32] thecoder-001 opened #199 "Normcap v0.3.0 .dmg package not working on MacOS Monterey"
Hello!
Unfortunately the normcap v0.3.0 .dmg package seems to be broken for macos. For some reason its having trouble with the bundled tesseract binary. Seems to be the same issue which was present in the [first beta](https://github.com/dynobo/normcap/discussions/178#discussioncomment-2167587). Another thing I observed was that earlier it used to run fine if I launched the same binary from the com

[2022-03-20 21:17] dynobo commented on #199
Thanks a lot for the immediate feedback, @thecoder-001.
I'm looking into it!

[2022-03-21 06:43] bogdancovaciu commented on #181
Sorry for the late reply. Just did a test with the v0.3.0b2 and i got this:
[code]
### System:
[code]

### Variables:
[code]

### Exception:
[code]

### Traceback:
[code]

[2022-03-21 06:52] bogdancovaciu commented on #181
Once i set the proper
`export TESSDATA_PREFIX=~/.config/normcap/tessdata/`
in my .bash_profile and rebooted, then i started Normcap appimage and selected eng (or any language in the list) and did a screen grab, the text was properly OCR-ed and saved to clipboard.
Indeed i think all this is on the right track and it woeks.
Much obliged for your time!!!

[2022-03-21 19:13] dynobo commented on #199
@thecoder-001, would you mind trying [this test build](https://github.com/dynobo/normcap/releases/download/internal/NormCap-unstable-MacOS.dmg)? In this build I used [dylibbundler](https://github.com/auriamg/macdylibbundler) to package all tesseract dependencies (in the current releases, I tried to manually include everything). In my VM running Big Sur this seems to work.

I fear that the `Illegal

[2022-03-21 19:30] dynobo commented on #181
Thanks for testing

**Regarding your first report:**

Somewhere hidden in you error message, I see `Failed loading language 'e'`. This indicates a connection to a bug in the way the language settings where stored: if only one language was selected, let's say `eng` for Englisch, the _reading_ of this setting on the next start would fail, because it would try to read the setting as a _list_ of the l

[2022-03-22 06:31] bogdancovaciu commented on #181
You are correct. Changing to `export TESSDATA_PREFIX=~/.config/normcap` and updating the AUR package too, make both work when started fresh, but still, both (the package and appimage) if started already and in system tray, the next capture will show the image from previous capture.
No more errors outputs from terminal tho.

[2022-03-22 07:29] dynobo commented on #181
Thanks, @bogdancovaciu . I thought I already fixed the not-updating screenshot, but if that's not the case, it would be really good to know.

Could you please double-check NormCap version (Open NomCap's Settings Menu, open "About" submenu and check what the small title says)?

Are you experiencing this issue under KDE _and_ under Gnome?

PS: You wrote you upgraded the "AUR" package. You really mea

[2022-03-22 09:38] bogdancovaciu commented on #181
The one from AUR is this:
http://aur.archlinux.org/packages/normcap
You need an AUR helper to build it. On Manjaro i use `pamac build normcap`
Now is v0.3.1 as the PKGBUILD is using the git source, so once you released it, it became available. You will see there are some comments there too.

And, it seems there is no longer needed to have the `export TESSDATA_PREFIX=~/.config/normcap`
At least i r

[2022-03-22 21:45] brightly-salty commented on #199
@dynobo I'm pretty sure had the same issue (NSLog bootstrap script could not be located), tried out the test build and it works correctly.﻿﻿ No error and works as expected.

[2022-03-23 11:57] thecoder-001 commented on #199
@dynobo I too can confirm that the test build seems to be working fine (macOS Monterey, x86). Launching the bundled binary individually from the command line works too without any error codes.

Also, @brightly-salty  this issue is most probably different from the one you faced. While the newer releases (even the test build) still log ` Unable to locate NSLog bootstrap script.` in the console, the

[2022-03-23 18:25] dynobo commented on #199
Thanks a lot for your testings, @thecoder-001 and @brightly-salty ! :+1:
I'm going to publish the test build as v0.3.2 now.

[2022-03-23 19:15] dynobo commented on #181
Thanks for confirming, @bogdancovaciu. Going to take another look on this issue!

[2022-03-25 06:56] dynobo commented on #181
@bogdancovaciu, I hopefully fixed it the not-updating screenshot from tray in [NormCap v0.3.3](https://github.com/dynobo/normcap/releases/tag/v0.3.3). Wanna give it another try?

[2022-03-25 07:08] dynobo commented on #119
Fix confirmed for v0.3.0+

[2022-03-25 07:08] #119 closed

[2022-03-25 07:09] #170 closed

[2022-03-26 05:38] bogdancovaciu commented on #181
All works as advertised. Fantastic! Thank you.

[2022-03-26 09:47] dynobo commented on #181
Thanks for confirming! :)

[2022-03-26 09:47] #181 closed

[2022-03-26 14:38] dynobo opened #204 "[macOS] Disable full-screen animation"
I noticed on macOS that on opening NormCap an unpleasant animation appears to transition the NormCap Window to full screen. This seems to be the default behavior for full-screen applications, but some applications seem to be able to avoid it (e.g., going full-screen in video players).

If anyone has ideas how to disable the animation when switching to full-screen with Qt6, that would be nice!

[2022-03-27 08:07] egigoka opened #205 "Launch failed on macOS 12.3 MBA M1 Unknown error: 153"
Version: 0.3.3

Error:
❯ open -a NormCap.app
The application /Applications/NormCap.app cannot be opened for an unexpected reason, error=Error Domain=RBSRequestErrorDomain Code=5 "Launch failed." UserInfo={NSLocalizedFailureReason=Launch failed., NSUnderlyingError=0x600000ba6b50 {Error Domain=NSPOSIXErrorDomain Code=153 "Unknown error: 153" UserInfo={NSLocalizedDescription=Launchd job spawn failed}

[2022-03-27 18:45] dynobo commented on #205
Hi @egigoka, thanks for reporting this issue!

Unfortunately, I need some more information to figure out what's going on:

1. Did you allow NormCap, after it was blocked on first launch (because it's unsigned)?
   ![2022-03-27_20-32](https://user-images.githubusercontent.com/11071876/160295811-7c3b2db7-fd30-4fa1-a087-e8f77c474b2a.png)

2. Does NormCap has the rights for screen recording?
   ![2022

[2022-06-01 06:32] j-dobr opened #212 "Typo on github page"
![snap_screen_20220601083112](https://user-images.githubusercontent.com/100573964/171341952-d952d812-c34b-461b-8464-0e59dd361833.png)

[2022-06-01 16:49] #212 closed

[2022-06-08 09:20] vzool opened #216 "[Feature Request] Support Arabic Language"

[2022-06-08 10:37] dynobo commented on #216
Hi @vzool , please take a look at the corresponding section in the FAQ: [How can I add additional languages?](https://dynobo.github.io/normcap/#faqs-languages)

Does this help you?

[2022-06-08 12:09] vzool commented on #216
I used the prebuild packages on Mac OS 12.3.1 and here is the result:

[https://www.youtube.com/watch?v=bmZUh8dR7N4](https://www.youtube.com/watch?v=bmZUh8dR7N4)

[2022-06-08 15:45] dynobo commented on #216
Sorry for pointing you to the FAQ, I forgot that Arabic should already be supported out of the box. :see_no_evil:

So no need to add any language files manually.

Could you please double check:
1. Are you using a recent version of Normcap (v0.3.3 or v0.3.4)?
2. Do you have "Arabic" selected as language in the settings menu? (see screenshot below)

Because for me it seems to be working:
![Screensho

[2022-06-19 18:12] dynobo commented on #168
Please reopen, if problem persists.

[2022-06-19 18:12] #168 closed

[2022-06-19 18:13] dynobo commented on #199
Should be fixed. Please reopen, if problem persists.

[2022-06-19 18:13] #199 closed

[2022-06-19 18:13] dynobo commented on #157
Please reopen, if issue persists.

[2022-06-19 18:13] #157 closed

[2022-06-25 15:26] schnednet opened #218 "delayed screen capture and no notifications in versions newer than 0.3.0 (Windows)"
I just updated to the latest version normcap-0.3.4 after a Windows 10 reinstall. In this version, the screen capture function is heavily delayed for me (a few seconds) and no Windows notification appears anymore after successful text recognition.

A downgrade to 0.3.0 fixed the problem. But I had to remove some registry keys manually to reinstall an older version.

Thanks a lot for your work. I en

[2022-06-26 06:47] vzool commented on #216
Thanks @dynobo

[2022-06-26 06:47] #216 closed

[2022-06-27 07:50] deepblue81 opened #219 "[macOS] Can not take screenshot - show empty desktops"
Hello, I only know that the previous versions have always worked, since the last update, the recording of screenshots no longer works. I open NormCap and go in the menu bar above to activate the screenshot function, immediately at the same time by Mission Control a new empty desktop is created and it is still quickly displayed in my previous desktop - where I have all programs open - a system mess

[2022-06-27 11:38] mrtysn opened #220 "M1 Apple Chip boot issue"
NormCap won't start in M1 MacBook Pro. You can see the error below:

[code]
The important bit is at the end:
`incompatible architecture (have 'x86_64', need 'arm64e'))`

Is there an M1 build and if not, do you have plans for supporting it?

Thank you for the nice app! 🍻

[2022-06-27 11:40] deepblue81 commented on #220
Do you have the last version of NormCap 0.3.4?
Than you must select the app, cmd+i and active the option "Open with Rosetta" - if it's not active...

[2022-06-27 13:28] mrtysn commented on #220
That solved the issue. Thanks!

I hadn't needed to enable Rosetta in the past, thus I had no idea of such a functionality.

[2022-06-27 13:28] #220 closed

[2022-07-05 07:50] museHD commented on #218
Same problem here. Updated to 0.3.4 and screen freezes with the red border until I click somewhere else on the screen, or after 4-5 seconds have passed.

[2022-07-07 01:59] museHD commented on #218
Ahh. Thanks @dynobo, that makes sense.
Could you provide an example of this notification? I don't see any notification pop up.

Also how do I check whether I have notifications enabled? Do you mean Windows notifs or is it a Normcap thing?

[2022-07-07 21:56] dynobo commented on #218
@museHD, NormCap triggers a notification in Windows' native notification system. But the bug prevents you from seeing it, because when the NormCap-window hides, the notification disappears, too.

As a workaround until the next version, you can try to disable the notification through NormCaps settings menu:
![screenshot](https://user-images.githubusercontent.com/11071876/177878099-9ca88423-7067-4e0

[2022-07-09 06:49] schnednet commented on #218
hi dynobo, notifications are enabled in normcaps for me. But your workaround with deactivating them works. Thank you very much. I am looking forward to the new version :)

[2022-07-17 09:04] Tim453 commented on #147
I created a flatpak for NormCap. You can find the manifest [ here ](https://github.com/Tim453/com.github.dynobo.normcap). @dynobo Do you want me to publish your application on Flathub?

[2022-07-17 13:16] dynobo commented on #147
Hey @Tim453 , that's awesome!! How about we integrate building (and publishing?) the flatpack as a Github action right into the CI/CD of the NormCap repo? Would you be willing to provide a PR? :-)

[2022-07-18 08:17] Tim453 commented on #147
I think it would be better if we let Flathub build and publish the Flatpak. So people can find it more easily in there [Store](https://flathub.org/home) and they will also receive automatic updates. Therefore i can create a repository in the [Flathub Github project](https://github.com/flathub) which contains the manifest to build the application.

[2022-07-19 12:59] ABCMoNa opened #221 "ValueError: A distribution name is required."
Hi,

for me, `normcap` fails with error message
[code]

It was installed using `pip install --user normcap`.

This is on a fully-updated **Ubuntu 20.04.4 LTS**, using the default Debian package `python3` at version `3.8.2-0ubuntu2`.

[code]

Auxiliary information:

Pip installation completed without error:
[code]

[code]

[code]

On a side note, please add package `g++` (or the less specific `buil

[2022-07-19 13:29] ABCMoNa commented on #221
On another side note, the v0.3.4 AppImage build works fine for me on this computer.

[2022-07-19 23:56] ABCMoNa commented on #221
I should probably have checked which version pip installed:

[code]

Are pip installations still supported? Should I be using a different release channel?

[2022-07-21 20:32] eclipseo commented on #218
How do you get the tray? I don't have a tray or GUI, just the icon in my start menu or taskbar?
Sorry if I derail, but it might be related.

[2022-07-23 15:26] Bader-Idris opened #222 "NormCap is unable to start due to a tesseract error"
After downloading the NormCap tool, I found an error attached to a secondary app which is tesseract ocr, after, that I installed it as if it was the reason, but it abropt me with this error, saying it wasn't able to start.

![image](https://user-images.githubusercontent.com/93044377/180611425-e9eca854-61fd-4b8a-8cc8-be90fe1b3489.png)

[2022-07-24 06:32] dynobo commented on #222
Hi @Bader-Idris , thanks for reporting the issue! Just two more question:

1. Did I understand you correctly, that you have installed Tesseract OCR _independently_ of NormCap, e.g. because another App needs it or you use it directely?

2. Did you install NormCap using the installer (`.msi`) or via `pip install`?

I'm asking because both aspects might influence how NormCap is trying to start tesser

[2022-07-24 08:52] dynobo commented on #221
Hi @ABCMoNa , thanks for reporting this issue! Yes, the Python packages from pypi still should be maintained.
As seen [on the release history](https://pypi.org/project/normcap/#history), newer version have been uploaded, the fact that `pip install normcap` installs an older version for you indicates, that one of the requirements are not met on your system for newer version.

Looking at your logs,

[2022-07-24 09:24] dynobo commented on #219
Hi @deepblue81 , thanks a lot for reporting this issue!

Do you remember the version number of the last NormCap version that worked for you?

[2022-07-24 09:30] dynobo commented on #218
@eclipseo , once you start NormCap, you should see a red border around your screen and a red cog wheel in the top right, which opens the settings menu where you can enable the tray (see picture above).

If you don't see that cog wheel, please open a new issue with information about your operating system. Thanks!

[2022-07-24 09:40] Bader-Idris commented on #222
Initially, I just installed NormCap, but after seeing the error including the tesseract name, I installed it independently.

for the 2nd Q, I did the same, firstly as .msi and latterly by the terminal tool.

[2022-07-24 09:40] dynobo commented on #147
@Tim453 , ahh, good to know, I haven't looked into flatpack hub before. I'll take it up from here and create a Flathub account for NormCap. Thanks a lot for looking into this and providing the manifest!!

[2022-07-24 09:58] dynobo commented on #222
I see. If the `.msi` package is used, one _should not_ install Tesseract, as it is bundled with the installer. While if NormCap is install via `pip` one _have to_ install Tesseract seperately.

Could you please do the following:

1. Make sure that the NormCap pip package is removed (`pip uninstall normcap`)
2. Uninstall Tesseract OCR (I think through "Add/remove programs"?)
3. Try to start the ver

[2022-07-25 13:17] Bader-Idris commented on #222
@dynobo I did exactly what you encouraged me to do, but unfortunately, it didn't work.
could it be because of installing xampp or python?

[2022-07-25 18:54] dynobo commented on #147
Create [PR#3352](https://github.com/flathub/flathub/pull/3352) at FlatHub.

[2022-07-27 16:38] ABCMoNa commented on #221
Thank you! Indeed, Python 3.8 here, and I did not realize that's what's causing the older release, whoops.

Thanks for documenting this requirement (and maybe also the other I mentioned as a side note above).
________________________________
From: dynobo ***@***.***>
Sent: Sunday, July 24, 2022 10:52
To: dynobo/normcap ***@***.***>
Cc: Moritz Naumann ***@***.***>; Mention ***@***.***>
Subject: Re:

[2022-07-27 20:29] #221 closed

[2022-07-27 20:54] dynobo commented on #218
@eclipseo,  @schnednet, @museHD, the issue should be fixed with the [v0.3.5 release](https://github.com/dynobo/normcap/releases/tag/v0.3.5) I just published. Could you please try and report your result?

[2022-07-28 19:58] dynobo commented on #222
@Bader-Idris , I released a new version yesterday. Could you please uninstall your current version, and then install the new [v0.3.5](https://github.com/dynobo/normcap/releases/tag/v0.3.5)?

If you still get an error on start, could you please post a screenshot of it?

[2022-07-28 20:03] dynobo commented on #155
This issue should not occur anymore, as recent versions of NormCap do not depend on transparency anymore.

Please re-open, in case it persists nevertheless.

[2022-07-28 20:03] #155 closed

[2022-07-28 20:10] dynobo commented on #205
Please re-open, if this problem persists with the [latest release](https://github.com/dynobo/normcap/releases)

[2022-07-28 20:10] #205 closed

[2022-07-29 15:41] schnednet commented on #218
@dynobo Yes, the problem is now also solved for me in the new version. Text recognition works immediately and I also see notifications again. Many thanks for the effort.

[2022-07-29 21:00] dynobo commented on #218
Thanks for the feedback!

[2022-07-29 21:00] #218 closed

[2022-07-29 22:21] Bader-Idris commented on #222
It got the same error, by the way, my system is windows 11 pro N building is 22000
![image](https://user-images.githubusercontent.com/93044377/181852797-c6b2ad55-80ad-4079-b0d6-bab27fdaea34.png)

[2022-07-30 02:45] pizzadude commented on #147
@dynobo Hi, I found this program on flathub. The flatpak doesn't work for me in KDE wayland, when capturing I get an error "22:36:44 - ERROR   - normcap.gui.utils:153 - Invalid dbus interface". I use KDE version 5.25.3 on Fedora Linux if that helps.

The AppImage works fine for me in KDE wayland though.

[2022-07-30 07:46] dynobo opened #224 "[flatpak] Error "Invalid dbus interface""
Reported by @pizzadude:

[2022-07-30 07:46] dynobo commented on #147
@pizzadude , thanks a lot for reporting this! I'm pretty new to flatpak, so it might need 1-2 more tries for a stable package...
I'm looking into it and track this as a separate issue:

[2022-07-30 07:52] dynobo opened #225 "Integrate flatpak building into CI/CD"
On tagging a new release in the NormCap repo, the new version should also be published as flatpak.

To do this, the [repo with the flatpak manifest](https://github.com/flathub/com.github.dynobo.normcap) need to be cloned, updated and pushed, I guess?

[2022-07-30 08:02] dynobo opened #226 "Improve NormCap's FlatHub page"
The Information in [NormCap's FlatHub page](https://flathub.org/apps/details/com.github.dynobo.normcap) is quite minimal at the moment.

1. Take a look at other app's on FlatHub to see what information is common/possible

2. Include further information in the [appdata.xml](https://github.com/flathub/com.github.dynobo.normcap/blob/master/com.github.dynobo.normcap.appdata.xml), maybe:
    - A list o

[2022-07-30 08:02] igorlogius commented on #147
Nice.

[code]

Thanks  @Tim453 and @dynobo for looking into this.

[2022-07-30 08:02] #147 closed

[2022-07-30 08:06] dynobo commented on #147
Closing this issue, as the flatpak (for v0.3.4) is now available on:
https://flathub.org/apps/details/com.github.dynobo.normcap

Follow ups:
Still there are some issues to fix (#224), and I have to somehow integrate that into automated deployment (#225). And the information page on flathub could be more informative (#226).

[2022-07-30 08:13] dynobo commented on #222
@Bader-Idris , could you please try to launch NormCap from the command line and post the output?
[code]
Hopefully this provides further information...

Thanks for your help and patience :smile:

[2022-07-30 08:28] dynobo commented on #219
Just FYI: I experienced a similar (or the same?) issue while testing the new [NormCap v0.3.5](https://github.com/dynobo/normcap/releases/tag/v0.3.5), seeing only an empty desktop after NormCap start.

This is definitely an issue with the Screen Capture permissions, which doesn't work correctly, _despite_ the hook showing as active in "Security & Privacy".

My best guess so far: MacOS creates the e

[2022-07-30 10:35] dynobo commented on #224
@pizzadude, I can't reproduce this on Fedora 36, KDE 5.25.3, wayland. Could you please try it from the command line with the debug flag and post the output?:
[code]

[2022-07-30 10:52] pizzadude commented on #224
Nevermind, I still do get the error, but the flatpak works. I must have misinterpreted how the app worked when I first used the flatpak, because the app quits after you take the screenshot.

I'm sorry if I wasted your time.

One thing that is unrelated is that on KDE wayland, when you take a screenshot, it puts a full screen image in ~/Pictures/

[2022-07-30 11:17] Tim453 commented on #225
There is a [tool](https://github.com/flathub/flatpak-external-data-checker#pypi-checker), which can automatically check for new releases/tags and create the corresponding pull requests.

[2022-07-30 19:44] dynobo commented on #225
@Tim453 Looks promising, thanks!

[2022-07-30 19:55] dynobo commented on #224
Ah, I see, there is this error in the console! This is a bit misleading, I'll reduce the level to a warning or something.
Totally understable, by the way, that you didn't get right away how NormCap works. I think this is also due to the lack of information on the flathub-page, which will be addressed in #226.

About the image file being stored in ~/Pictures/:
Unfortunately, this is the standard be

[2022-07-30 19:55] #224 closed

[2022-07-31 12:00] dynobo commented on #225
Implemented for the PyPi packages with flathub/com.github.dynobo.normcap#1 using the mechanism @Tim453 suggested. For the tesseract related binaries, it's probably wise to not bump those automatically, as they might break stuff.

[2022-07-31 12:00] #225 closed

[2022-07-31 19:18] AEVE1001 opened #230 "[FLATPAK] Normcap exception in Cinnamon"
Hi, I downloaded Normcap from Flathub, yet after selecting the region to process, nothing happened.

I ran the program through the cli with _flatpak run com.github.dynobo.normcap_,  and after selecting the screen region, I got the following error:

_14:04:52 - ERROR   - normcap.screengrab.utils:96 - Exception when trying to get gnome-shell version_

My system is Linux Mint 20.3 with Cinnamon Deskt

[2022-07-31 21:52] Bader-Idris commented on #222
![1](https://user-images.githubusercontent.com/93044377/182046770-e28626c2-398d-476a-8787-a50a2d7dd5e3.png)
![2](https://user-images.githubusercontent.com/93044377/182046775-bf21e815-cdf4-4cfd-9413-b6747863e6a0.png)
![3](https://user-images.githubusercontent.com/93044377/182046779-5cb722fd-cb3a-450f-8b73-57c1b880329c.png)
![4](https://user-images.githubusercontent.com/93044377/182046783-d43194b0-4

[2022-08-01 07:07] eclipseo opened #231 "Better recognition of colored text"
Hello,

Would it be difficult to improve the recognition of text with color? I have issue with red and orange text not being recognized, is it a normcap problem or a Tessaract problem?

Thanks.

[2022-08-01 15:52] dynobo commented on #230
Hi @AEVE1001 , thanks for reporting your problem.

If you _see_ the NormCap UI (red border) and _can_ select a region, it is most likely unrelated to #168 . The error you've posted, is most likely not a problem at all. (I'm going to downgrade it to a "warning", as "error" is misleading here.) When I tested on a fresh LinuxMint 21 with cinnamon 5.4.8, everything worked as expected.

Can you please

[2022-08-01 15:56] dynobo commented on #231
Hi @eclipseo , thanks for bringing this up!

Currently, I do only some minor pre-processing of the image before feeding it into Tesseract, so yes, Tesseract might not be able to handle that well. But I have some ideas about additional preprocessing steps, which might help, e.g. contrast stretching.
Could you provide a sample image, where NormCap currently doesn't recognize the text as expected? Th

[2022-08-01 16:39] dynobo commented on #222
Hi @Bader-Idris, something seems a bit off with your installation, let's see if we can resolve this:

In your second screenshot, we see that you _did_ start NormCap with `NormCap.exe -v debug` in `C:\Users\<USER-NAME>\AppData\Local\Programs\NormCap\`, but what got _launched_ still looks like the path of the Python package: `'cli_args': 'C:\\Python310\\Scripts\\normcap -v debug'` (should be `[...]\

[2022-08-01 19:11] AEVE1001 commented on #230
My fault. Indeed, I repeated the same assumption: as the app closes after the screenshot without any note, I thought it was a crash.

After checking the app, it works as expected. I'm sorry if I made you waste time.

Thank you very much.

[2022-08-01 19:11] #230 closed

[2022-08-01 19:53] dynobo commented on #230
No worries, I'm sure this issue will help others, too. (And it nudges me to improve the infos on the flathub page... :see_no_evil: )

[2022-08-02 17:19] dynobo commented on #226
Implemented with flathub/com.github.dynobo.normcap@c8957ba8d298b9296385243baf4412c95409cf35

[2022-08-02 17:19] #226 closed

[2022-08-03 05:48] pizzadude opened #235 "Latest version crashes with "TypeError: '<' not supported between instances of 'NoneType' and 'Version'""
[code]

This is on Fedora KDE wayland.

[2022-08-03 06:02] dynobo commented on #235
Oh, my bad, fix is coming!

[2022-08-03 19:45] #235 closed

[2022-08-04 04:23] pizzadude opened #237 "[Linux] Latest version ( 0.3.7 ) doesn't copy text to clipboard"
I'm sorry that I keep discovering issues, but I thought I should let you know that the latest version ( 0.3.7 ) doesn't copy text to the clipboard, atleast on Fedora KDE Wayland. The AppImage of 0.3.5 works. In the CLI output it recognizes the text fine.

Another thing is the AppImage has notifications and tray support, but the flatpak doesn't. Also, the flatpak sometimes doesn't copy to clipboard

[2022-08-04 04:58] pizzadude commented on #237
Edit: I can confirm that the AppImage of 0.3.7 has the same issue.

[2022-08-04 16:10] thecoder-001 opened #238 "Possibly further binary file size reduction"
Hello!
I gave another try to reduce normcap's binary size further, this time trying to find smaller unneeded stuff.
My testing method is the same crude way as before, deleting files, checking if normcap launches (& functions) and if not, replacing the file back.
I tried to target the file size of about >700K to ensure that we get meaningful results and was able to trim about `51.9M`. Unfortunately

[2022-08-04 18:55] dynobo commented on #238
That's super cool, @thecoder-001, those experiments are quite valuable!
Yeah, testing is difficult issue, as sometime I have the feeling it also depends on the system, if it works (e.g. if a lib is already present on the system, Qt might be able to fall back to those.). But nevertheless, I think it's worth a try.

Not sure, when I find time to look into it (focusing on bugs at the moment.)

If you

[2022-08-04 19:04] dynobo commented on #237
You are using Fedora 35, right? (I tested on 36, there it seemed to work).

The fact that both system tray + notification are affected is making perfectly sense, as notifications are actually handled by the [QSystemTrayIcon](https://doc.qt.io/qtforpython/PySide6/QtWidgets/QSystemTrayIcon.html) necessary for both.
The clipboard problem is more surprising to me.

Sorry, that the flatpak is a bit of

[2022-08-04 19:07] dynobo commented on #237
All those issues?! Or only the clipboard one? :open_mouth:

[2022-08-04 22:20] pizzadude commented on #237
Nope, Fedora **36** KDE.

Only the clipboard one for the AppImage.

[code]

[2022-08-05 16:01] idanka opened #239 "[FlatPak] How to add additional languages to NormCap?"
i use ubuntu and install flatpak - NormCap
where do we copy the language file?

[2022-08-07 19:10] dynobo commented on #239
It's not yet possible, I didn't have on my radar, that within flatpak this must be handled differently...
It is definitely high prio for me, subscribe to this issue for updates!

Thanks for reporting, @idanka!

[2022-08-07 19:35] dynobo opened #240 "[FlatPak] On KDE tray icon and notifications are not visible"
As reported by @pizzadude in #237, in the latest Fedora 36 KDE fully updated, neither the tray icon nor the notifications are visible.
I also noticed that the icon is missing for NormCap's entry in the application menu, which _could_ be related.

[2022-08-07 19:40] dynobo commented on #237
Hi @pizzadude,

thanks for the log files. I'm now able to reproduce everything.

For better issue tracking, I created #240 for the notification/tray icon problem, while limiting this issue here to the not working clipboard.

I already started looking into it, but it doesn't seem to be something obvious... My best guess is, that an updated introduced an incompatibility which breaks the copy-to-clip

[2022-08-09 06:11] blueray453 opened #241 "ERROR - normcap.utils - L:104 - Uncaught exception! Quitting NormCap!"
[code]

[2022-08-10 18:07] dynobo commented on #241
Hi @blueray453 , thanks for reporting your issue. It seem like you installed NormCap via `pip install` and in an environment with `Python 3.9`? As mention in the [README](https://github.com/dynobo/normcap/blob/main/README.md#python-package), the Python package requires at least Python 3.**9**.

You could try install a newer Python version (e.g. using pyenv) or try the AppImage release.

Does this

[2022-08-11 13:16] blueray453 commented on #241
Thank you very much.

[2022-08-11 13:16] #241 closed

[2022-08-12 18:16] lcalder opened #242 "Crashes on Mac M1 arm64 architecture"
Is it possible to make an ARM64 version for Mac m1?
This is the error I receive when trying to run it:

Traceback (most recent call last):
  File "NormCap.app/Contents/Resources/app/normcap/__main__.py", line 3, in <module>
    from normcap.app import main
  File "NormCap.app/Contents/Resources/app/normcap/app.py", line 14, in <module>
    from normcap.gui import system_info, utils
  File "NormCap

[2022-08-14 10:13] dynobo commented on #237
**Short update:** I confirmed, that QT's clipboard works even more unreliably on the newest Wayland, as it did in the past. It seems like pasting doesn't work at all if no window is visible (and maybe even active?). As I expect these problems to arrive in other distributions, too, I'm working on an integration with [`wl-clipboard`](https://github.com/bugaevc/wl-clipboard). I'm not super happy abou

[2022-08-14 10:28] dynobo commented on #242
Hi @lcalder, thanks for posting this issue!

Unfortunately, no builds are available for M1 / ARM64 and this probably won't change in the foreseeable future. The only option for users on the architecture is [the installation as Python package](https://dynobo.github.io/normcap/#python-package).

Background: I can't build on ARM64, because [there are no GitHub Runners with that architecture](https://

[2022-08-14 10:36] dynobo opened #243 "Offer NormCap for macOS via Homebrew"
It would be really nice to have the NormCap pre-build package available via [Homebrew](https://brew.sh). This should be possible (and not too complicated?) by creating a ["Cask"](https://docs.brew.sh/Cask-Cookbook).

Hopefully, this would be much simpler than installing the `dmg` manually, and it might be also possible to configure the correct permissions (open unsigned app; screenshots) during th

[2022-08-16 14:31] Stevan-Dinu commented on #242
Also, my M1 is crashing
Traceback (most recent call last):
  File "NormCap.app/Contents/Resources/app/normcap/__main__.py", line 3, in <module>
    from normcap.app import main
  File "NormCap.app/Contents/Resources/app/normcap/app.py", line 14, in <module>
    from normcap.gui import system_info, utils
  File "NormCap.app/Contents/Resources/app/normcap/gui/utils.py", line 29, in <module>
    from

[2022-08-16 17:45] dynobo commented on #242
@Stevan-Dinu , please read my comment above.

[2022-08-21 13:45] dynobo commented on #237
Should be solved with the [release v.0.3.8](https://github.com/dynobo/normcap/releases/tag/v0.3.8).
Please re-open, if it's not.

[2022-08-21 13:45] #237 closed

[2022-08-21 13:47] dynobo commented on #242
Added to architecture to file name and provided [FAQ entry](https://dynobo.github.io/normcap/#faqs-macos-m1) on the backgrounds.

[2022-08-21 13:47] #242 closed

[2022-08-21 13:54] dynobo commented on #238
I exclude most the packages you proposed from the [release v.0.3.8](https://github.com/dynobo/normcap/releases/tag/v0.3.8), which led to ~10-15% reduction of the package sizes. Thanks a lot, @thecoder-001 !

Even if there are some packages more to be removed, I'd like to go with the current reductions for a few months to check if some unexpected issues get reported. But I'll keep this issue in min

[2022-08-21 13:54] #238 closed

[2022-08-21 13:57] dynobo commented on #144
Linking #238 here, which led to a significant reduction, especially for macOS and Linux packages.

[2022-08-21 21:29] pizzadude commented on #237
Hi, it works now! Thanks. :)

[2022-08-22 20:45] Palawete commented on #237
I've just tried normcap for the very first time. It doesnt copy the text to the clipboard. The notification pops up and seems to get the text properly.

[2022-08-24 00:41] zwma commented on #231
Hi @dynobo, I was testing this image with Japanese text: https://m.media-amazon.com/images/I/91Ju9tqeJbS._SL1500_.jpg
Specifically the text block between "Ingredients" and the yellow box. I found that just using the original image produced varying results each time. However, increasing the contrast just a little bit led to a perfect OCR.

[2022-08-24 22:06] FellFromTheSky opened #248 "Does not start on macOS ARM64"
The error I get whenever I try to start the application :
Traceback (most recent call last):
  File "NormCap.app/Contents/Resources/app/normcap/__main__.py", line 3, in <module>
    from normcap.app import main
  File "NormCap.app/Contents/Resources/app/normcap/app.py", line 14, in <module>
    from normcap.gui import system_info, utils
  File "NormCap.app/Contents/Resources/app/normcap/gui/utils.

[2022-08-24 22:10] FellFromTheSky commented on #248
and of course my python3 version is arm64

[2022-08-25 03:31] dynobo commented on #248
Hi @FellFromTheSky , please check [FAQ - Does NormCap work on the M1 architecture?](https://dynobo.github.io/normcap/#faqs-macos-m1). Does this answer your questions?

[2022-08-25 03:46] FellFromTheSky commented on #248
Yes, thanks a lot.

[2022-08-25 03:46] #248 closed

[2022-08-26 00:51] pakosaan opened #249 "Normcap wont recognize chinese character in linux"
i installed Normcap from the flatpak

[2022-08-26 07:08] qomhmd opened #250 "captured text is not copied to the clipboard anymore"
Running on Windows 10

[2022-08-26 15:19] dynobo commented on #250
Thanks for reporting, @qomhmd . I can confirm the issue. Will work on it with high prio.

[2022-08-26 15:33] dynobo commented on #249
For me it seems to work (spaces are still problematic, see #158):
![Screenshot from 2022-08-26 17-33-07](https://user-images.githubusercontent.com/11071876/186940471-1c50d90e-cc21-4b37-a6f7-fc9a4de5e7a9.png)

Have you selected Chinese in the menu? Are you using the latest version (Normcap 0.3.9)? Which linux distribution and version are you on?

[2022-08-28 14:17] #250 closed

[2022-08-28 19:22] dynobo commented on #240
Should be solved since **Normcap v0.3.8**. Please reopen, if the problem still persists.

[2022-08-28 19:22] #240 closed

[2022-08-29 09:13] nourserry opened #254 "[Windows] Crash upon taking a screenshot"
Hello

When I take a screenshot the app crashes
I ran it through cmd and I got this error:

    ocr_result = ocr.recognize(
  File "C:\Users\REDACTED\AppData\Local\Programs\dynobo\NormCap\app\normcap\ocr\recognize.py", line 40, in recognize
    tsv_data = pytesseract.image_to_data(
  File "C:\Users\REDACTED\AppData\Local\Programs\dynobo\NormCap\app_packages\pytesseract\pytesseract.py", line 527, i

[2022-08-29 16:56] dynobo commented on #254
Hi @nourserry , thanks for reporting this issue!

Could you please provide some further information?

1. Version of NormCap
2. Windows Version + CPU architecture (run `systeminfo` in `cmd`)
3. Did an earlier version of NormCap work for you, or is this the first time you tried?

[2022-09-01 14:09] Lonniebiz commented on #154
@dynobo When I originally reported my issue of NormCap not working with [Awesome](https://awesomewm.org/), I was using the NormCap 0.2.10 AppImage. Today, I tried again using the AppImage of version 0.3.6.2.548021370, and NormCap now works in Awesome!

I've very happy about this. You see, NormCap is my favorite new program, and I've been missing it dearly. Seriously, it is the best thing I've come

[2022-09-01 21:46] knochenhans opened #255 "Crashes with PIL.Image issues when trying to capture text"
Hi, I’m running into the following issue when I try to capture text with the current build (0.3.9, also happens in 0.3.8). I guess this is some kind of version mismatch regarding PIL? I’m using python-pillow 9.2.0.

[code]

### System:
[code]

### Variables:
[code]

### Exception:
[code]

### Traceback:
[code]

[2022-09-03 08:40] dynobo commented on #255
Thanks for reporting, @knochenhans !

Indeed, there was recently a [hidden and somewhat debatable breaking API change in Pillow](https://github.com/python-pillow/Pillow/issues/6537).

I'm working on fixing that for NormCap.

[2022-09-03 11:51] #255 closed

[2022-09-03 14:01] kik4444 opened #259 "Flatpak ver. doesn't copy scanned text to clipboard, appimage does"
Hi, I'm using an Arch KDE Wayland setup, and the flatpak version of normcap (0.3.9) doesn't copy the scanned text to my clipboard, however the appimage version (0.3.10) does.

[2022-09-03 14:26] kik4444 commented on #158
What about adding a toggle option for this, because it also happens e.g. on Japanese, but the spaces are not automatically removed.

[2022-09-03 16:26] dynobo commented on #259
Hi @kik4444, thanks for reporting this issue.

Could please start the flatpak using the following command and post its output?
[code]

[2022-09-03 16:36] dynobo commented on #158
@kik4444, I'd like to avoid an additional toggle and stick to the current strategy:

- _All activated_ languages in NormCap are "space-less" -> Use heuristic to remove the spaces
- "Space-less" as well as at least one "western" language is activated -> Don't touch the spaces.

I'm going to add [jpn.traineddata](https://github.com/tesseract-ocr/tessdata_best/blob/4.1.0/) to the "space-less" languag

[2022-09-03 17:06] OLoKo64 opened #260 "Crashes on notifier when trying to capture text"
Hi, I am having this same problem with version 0.3.9 and 0.3.10, but it works fine with version 0.3.8

I am using Endeavor OS with everything updated.

It is happening in my 2 systems with the exact same result, I select the area then the KDE panel freeze for this 30 secs, until it timeout, and the text is not copied to my clipboard.

### System:
[code]

### Variables:
[code]

### Exception:
[code

[2022-09-03 17:10] OLoKo64 commented on #260
Something related to this PR perhaps? https://github.com/dynobo/normcap/commit/ec8df5b7a099e1d1b501298c79172b48ded8d7b7#diff-2eec06ad8f93269853a503e778fe35d4a01551fc05ad16c09e0b46ad46413999

[2022-09-03 17:54] dynobo commented on #260
Hi @OLoKo64, thanks for reporting this issue and for adding your detailed analysis! :+1:

I initially added `send_via_libnotify()` because there were issues with `send_via_qt_tray()` on other KDE system (I test with Fedora).

Could you do me a favor and try to run the libnotify commend directly from `cli`:
[code]
Does that show a notification for you?

[2022-09-03 17:58] OLoKo64 commented on #260
Yes, it works without problems on both of my machines, it shows the notification with the text.

[2022-09-03 18:03] dynobo commented on #260
Thanks, @OLoKo64 . I think I'll have to install Endeavor OS in a VM then to replicate the issue. I'll try to do that, soon. Stay tuned!

[2022-09-03 18:07] OLoKo64 commented on #260
Thanks, I'll keep looking for what is causing the problem, if I find anything I will share with you.

[2022-09-03 18:48] OLoKo64 commented on #260
I have to leave now but some information I found:
- Python version seems not to be the problem, tested with 3.10.6, 3.10.5, 3.10.1, 3.9.10.
- Switching from `subprocess.run()` to `subprocess.Popen()` solved the issue for me, my system does not crash, the notification works, the data is saved to my clipboard. This needs more investigation on why this is the case.

[2022-09-03 20:43] kik4444 commented on #259
Here you go
[code]

The only strange thing I'm noticing is the line about an `Invalid dbus interface on KDE`

[2022-09-03 21:33] dynobo commented on #259
True, the log doesn't seem suspicious. (Don't worry about the "Invalid dbus interface", that's an unrelated warning.)

Could you please show me the output of `sudo pacman -Q | grep xdg-desktop`?
(It's possible, that the desktop integration is missing, as I think on Arch this doesn't get installed with `flatpak` automatically.)

Also, are you running plain Arch, or any kind of Arch-based distro?
(I

[2022-09-03 22:01] dynobo commented on #260
Thanks, @OLoKo64, that was a good hint! I don't have a good explanation on what's happening, but running the notifier in a detached subprocess with `Popen` solves it. See: 726b86abe286cefe12388312f06fb980b2b02890. :+1:

[2022-09-03 22:02] #158 closed

[2022-09-03 22:07] dynobo commented on #239
Could you please try the latest NormCap v0.3.10 flatpak? You now should be able to [add additional languages](https://dynobo.github.io/normcap/#faqs-languages) there.

[2022-09-03 22:10] #154 closed

[2022-09-03 22:29] #260 closed

[2022-09-03 22:52] kik4444 commented on #259
Sure, the output is
[code]
And yes, I run proper Arch, not a derivative.

[2022-09-04 00:10] OLoKo64 commented on #260
I'm glad I could help. Thanks for the amazing response time.

[2022-09-04 18:44] Shaurya-Kalia commented on #155
Yes, normcap works as expected on plasma-wayland now

[2022-09-04 21:37] kik4444 commented on #259
Hey, so funny story, I just updated the flatpak version from 0.3.9 to 0.3.11 and now it suddenly works. It is able to copy text to my clipboard, however if I add a custom `traineddata` file to `$HOME/.var/app/com.github.dynobo.normcap/config/normcap/tessdata/` by symlinking it, it's not able to scan anything. However if I copy the file instead of linking it, it works. Is this due to flatpak's sand

[2022-09-05 05:06] dynobo commented on #259
Thanks for the update, @kik4444 .

I'm not very experienced with flatpak, but yes, it would make sense to not allow symlinks to work in the sandbox. Did you try hardlinks? From my understanding, this might work.

As the clipboard issues seems to have disappeared, I'm closing this ticket for now. But feel free to reopen, if it happens again! :-)

[2022-09-05 05:06] #259 closed

[2022-09-06 13:57] NicolasMICAUX opened #264 "[Linux, Wayland] Avoid intermediate "share" dialog on opening NormCap"
On ubuntu 22.04, the screen capture used by normcap brings up a sort of window that lets you choose the way you want to share the screen, then you click "share", then you use the normal normcap capture mode to select one part of the screen. It's redundant and no more ergonomic.
Not your fault, 100% because of the new way ubuntu 22.04 handles screen captures, but maybe there is a workaround.

![ima

[2022-09-06 13:58] NicolasMICAUX commented on #264
_(this is an enhancement request but i cannot set the label)_

[2022-09-06 19:08] dynobo commented on #264
**TLDR; This is not a NormCap issue; It is caused by Wayland's security design; The situation will probably improve during the next 1-2 years.**

Hi @NicolasMICAUX, thanks for your input! I'm quite annoyed by that additional click, too! As you already have suspected, this is out of my responsibility and my sphere of influence. As it might be of interest for others, too, allow me to elaborate a bit

[2022-09-08 12:36] rin67630 opened #266 "Just an idea to do the impossible: fork Normcap to be a Web grabber."
I just thought: Normcap could be the base of a really powerful fancy Web grabber.
Some websites make it very difficult to grab some useful information, since their HTML5 is extremely dynamic and quasi impossible to grab by usual means.
Normcap could possibly be a way to bypass all the hurdles and just OCR a tiny part of the screen periodically and output the result into a JSON source.
Probably jus

[2022-09-10 18:23] dynobo commented on #266
Hi @rin67630, it's great to see that you like NormCap and think about using it for other purposes, too, thanks for that!  :blush:

As you already suspected, your proposed idea is out of scope for NormCap. That's why I'll have to decline and close this is issue here, but please, feel free to use the ["discussions"](https://github.com/dynobo/normcap/discussions)-section, in case you want to further

[2022-09-10 18:23] #266 closed

[2022-09-15 22:18] Lonniebiz opened #272 "[Windows] Microsoft Defender SmartScreen prevented an unrecognized app from starting"
Does anyone know why Window 10 gives such a strong warning upon trying to Install NormCap?
![2022-09-15_13-45](https://user-images.githubusercontent.com/151919/190517987-78eb50ac-9d07-48eb-927e-ad779fa3332d.png)

Typically when I install something, Windows 10 just asks me if I give permission and then I click "ok". This warning is more severe than the other one, and this is why I'm more concerned

[2022-09-15 22:40] Lonniebiz commented on #272
`
"You may see this warning message Microsoft Defender SmartScreen prevented an unrecognized app from starting if the antivirus software does not have the files signatures stored in its data bank. This can happen if a program executable file is new to [Windows SmartScreen](https://www.thewindowsclub.com/windows-smartscreen-filter-warnings) or if it has not been so commonly downloaded or used."`
**

[2022-09-16 05:34] ikesaber opened #273 "Zoomed desktop shown in Ubuntu 22.04.1 LTS"
# Issue with NormCap in Ubuntu 22.04.1 LTS

Hello,
I recently installed Ubuntu 22.04.1 (old OS was 22.04), and I can't get NormCap to work properly on my new OS.

## AppImage

In Focal Fossa, normcap worked as shown in your gif:

![gif](https://raw.githubusercontent.com/dynobo/normcap/main/assets/normcap.gif)

When I run the appimage in Jammy Jellyfish, the screenshot is zoomed 3x and off to the s

[2022-09-16 10:50] pakosaan commented on #249
It wasn't woking before and just after seeing your comment , i gave it a try and now its working. Maybe it works because of the updates before.

[2022-09-16 10:56] pakosaan commented on #249
I think

[2022-09-16 10:57] pakosaan commented on #249
It works sometime  and wont work most of the time. so i have to use the google camera lens on my phone to scan and then translate.

[2022-09-17 14:40] dynobo commented on #272
Hi @Lonniebiz, thanks for reporting this, I wasn't aware of this warning before.

I did a bit of research, and it seems like your guess is correct: The warning shows up, if the application doesn't have enough "reputation", which seems to be an obscure metric somehow calculated by Microsoft.

I think [this answer on SO](https://stackoverflow.com/a/66582477) sums up the options to get rid of the war

[2022-09-17 15:00] dynobo commented on #273
Hi @ikesaber,

**Starting the Python package:**
After `pip install normcap` ran through, you should be able to start NormCap just by typing the command `normcap` in the terminal.

**Screenshot is zoomed:**
This is probably a bug, can you please provide some additional info? That would help me to sort it out:
1. Please start NormCap in debug mode and post the output: `./NormCap-0.3.12-x86_64.AppIma

[2022-09-17 15:09] dynobo commented on #264
Monitoring progress on https://github.com/flameshot-org/flameshot/issues/2868 and how they tackle the issue...

[2022-09-17 16:12] Lonniebiz commented on #272
@dynobo I don't blame you one bit. I wouldn't want to spend much time on something like this either.

Hopefully, someone can do an internet search and find this issue to gain the confidence they need, in the event that they too were alarmed by this "more severe than typical" warning, like I was.

I use NormCap on Linux, but I'm beginning to recommend it to all my Window's friends now that I'm awar

[2022-09-22 08:42] ikesaber commented on #273
Thank you for your reply @dynobo

It looks like completely forgetting about this for a week and then coming back to it has fixed my problem 🤨 - I can now use normcap as before with no issues. However I went through the steps for future reference:

interesting... this is what happens when I try that:

[code]

here is my terminal output:

[code]

[code]

[2022-09-22 19:14] dynobo commented on #273
Thanks for providing your additional info, @ikesaber !

**Regarding the zoom-issue:**
Hard to say, what the problem caused, but "Wayland" can be ruled out, as you are clearly using Xorg session. Might it be, that you changed monitor setup while NormCap was running (e.g. in tray)? Like plugging in another monitor, changing the display resolution or something? I could imagine, that could mess things

[2022-09-22 19:14] #273 closed

[2022-09-22 20:43] ikesaber commented on #273
The monitor setup didn't affect the zooming problem before - the screenshot was taken while my computer had no monitors connected and it was the same when I plugged one in. I'd guess some system / app update(s) over the past week took care of the issue.

`conda deactivate` did allow me to use normcap through the terminal, so I'll keep that in mind for future reference.

[2022-09-23 12:17] harryray33 opened #275 "[Windows 7] missing api-ms-win-core-path-l1-1-0.dll"
Does Normcap run on Win 7?

I'm getting a error...program can't start api-ms-win-core-path-l1-1-0.dll is missing.

[2022-09-24 09:45] dynobo commented on #275
Hi @harryray33 , thanks for reporting this issue. Did you get the `.msi`-installer or the did you install the Python package?

[2022-09-24 10:27] harryray33 commented on #275
Thanks, It's the .msi installer.

I don't have api-ms-win-core-path-l1-1-0.dll anywhere on my computer.

[2022-09-24 11:19] dynobo commented on #275
There are quite some [potential causes for this file missing](https://answers.microsoft.com/en-us/windows/forum/all/api-ms-win-core-path-l1-1-1ddl-is-missing/b7afd65f-b4f6-4868-8433-587a543532e5).

As Microsoft's support for Windows 7 ended more than 2(!) years ago, it's also possible, that the installer is just not compatible with it.

You could try to install the Python package instead, but it i

[2022-09-24 11:45] harryray33 commented on #275
I managed to find the file online, but when I tried to run Normcap I got the following error message.

![App crashed](https://user-images.githubusercontent.com/42322725/192096134-4f3190d5-e2f0-47b9-bcc9-9d7c5d3397b4.JPG)

[2022-09-24 14:33] dynobo commented on #275
@harryray33, seems like the pre-build NormCap doesn't work on the good old Windows 7. Please try to install NormCap as Python package instead.

[2022-09-30 23:17] Supersity opened #277 "[Windows] "This application failed to start..." Error"
1. I ran this .msi file below on my Windows 11:
![image](https://user-images.githubusercontent.com/81395301/193365787-22e1c29d-b40b-4bf3-a882-1192a5629b7a.png)

2. Finished successfully the installation, and executed this final generated .exe file on it C:\... directory:
![image](https://user-images.githubusercontent.com/81395301/193366048-e7eaebd9-83d9-4db3-a618-9ac6b23896ad.png)

3. But instantl

[2022-10-01 10:28] dynobo commented on #277
Hi @Supersity , thanks for reporting this issue and the detailed description on what you have tried.

Could you please check, if the log file was created, and post it's content here?

It should be located in `C:\Users\<USER-NAME>\AppData\Local\Programs\NormCap\NormCap.log`.

Thanks!

[2022-10-01 10:37] dynobo commented on #277
Oh, and could you please also run `echo %QT_PLUGIN_PATH%` as well as `echo %PATH%` and post the outputs? (It might be possible, that there's a conflicting path set by another app)

[2022-10-04 08:49] Supersity commented on #277
[FB28:1070C][2022-08-28T17:51:07]i001: Burn v3.10.4.4718, Windows v10.0 (Build 22000: Service Pack 0), path: C:\Windows\Temp\{B5DACEC5-D809-4B09-BE95-66675A385B3D}\.cr\VC_redist.x86.exe
[FB28:1070C][2022-08-28T17:51:07]i009: Command Line: '-burn.clean.room=C:\ProgramData\Microsoft\VisualStudio\Packages\Microsoft.VisualCpp.Redist.14.Latest,version=14.32.31332,chip=x86\VC_redist.x86.exe -burn.fileha

[2022-10-04 08:58] Supersity commented on #277
Sorry for the late answer, Github didn't show any notification when I was accessing it exactly for seeing any of your replies...

Here is the log in .txt file format, for better visualization:
[NormCap log.txt](https://github.com/dynobo/normcap/files/9704251/NormCap.log.txt)

Here are the Echo Paths from command prompt:

C:\Program Files (x86)\VMware\VMware Workstation\bin\;C:\Program Files (x86)\

[2022-10-04 21:24] dynobo commented on #277
Hi @Supersity , I'm sorry, the path to the log file I provided was wrong/deprecated. It should be located here:
`C:\Users\<USERNAME\AppData\Local\dynobo\NormCap\Logs\normacap-debug.log

(The file you provided seem to be the installation log, which doesn't really help us here.)

But before you provide the log file here, please run NormCap via `cmd`-line like that:
[code]

This will add some informa

[2022-10-04 23:52] Supersity commented on #277
Here is the folder of the path you requested:
![image](https://user-images.githubusercontent.com/81395301/193950480-cdb4dc23-1d80-40e4-b7d8-b10a5131a75c.png)

Now, the above command output:
![image](https://user-images.githubusercontent.com/81395301/193950607-6aa45a76-6396-4ce4-831a-607f7eb62f26.png)

Now about the log script, here you go:

23:18:11 - INFO    - normcap:36 - Start NormCap v0.3.12
2

[2022-10-04 23:52] Supersity commented on #277
Here is the folder of the path you requested:
![image](https://user-images.githubusercontent.com/81395301/193950480-cdb4dc23-1d80-40e4-b7d8-b10a5131a75c.png)

Now, the above command output:
![image](https://user-images.githubusercontent.com/81395301/193950607-6aa45a76-6396-4ce4-831a-607f7eb62f26.png)

Now about the log script, here you go:

23:18:11 - INFO    - normcap:36 - Start NormCap v0.3.12
2

[2022-10-04 23:53] Supersity commented on #277
Sorry for the issue closing hahahaha, I clicked on the wrong place...

[2022-10-06 06:21] dynobo commented on #277
@Supersity , thanks for the log file, but before executing the command and posting the log, you have to replace `<USERNAME>` by your actual name (Davi ...), so the path points to the exe-file which you have highlighted in the screenshot of the folder. Could you please try again?

[2022-10-06 20:52] Supersity commented on #277
So, now it's correct?:

![image](https://user-images.githubusercontent.com/81395301/194416249-652c82ec-7ecf-4c7f-8247-0915d7e83f8f.png)

[2022-10-08 12:39] dynobo commented on #277
@Supersity. the path looks correct to me, but you need to [escape the spaces](https://www.howtogeek.com/694949/how-to-escape-spaces-in-file-paths-on-the-windows-command-line/) in your username, e.g. by putting the whole path into quotes:
`set QT_DEBUG_PLUGINS=1 & "C:\User[...]\NormCap.exe"`.

When running the command, NormCap should start, which means in your case, you should see the error box fro

[2022-10-10 19:55] Supersity commented on #277
This?:

![image](https://user-images.githubusercontent.com/81395301/194942664-79f10837-0436-4205-b7c7-ed503f8c63d8.png)

[2022-10-11 06:02] dynobo commented on #277
@Supersity , yes, that looks good. Could you share the log file (`normcap-debug.log`), after you started normcap with that command?

[2022-10-19 17:24] dynobo commented on #239
Closing, as this should be fixed since v0.3.10.

[2022-10-19 17:24] #239 closed

[2022-10-19 18:03] #219 closed

[2022-10-19 22:36] apandada1 opened #290 "[flatpak] Fails to start in Ubuntu Unity with "Invalid tesseract version""
Here is the error message. I am running Ubuntu Unity 22.10.
[code]
### System:
[code]

### Variables:
[code]

### Exception:
[code]

### Traceback:
[code]

18:33:58 - CRITICAL - normcap.gui.utils:227 - Please open an issue with the output above on https://github.com/dynobo/normcap/issues
[code]

[2022-10-19 22:38] apandada1 commented on #290
The appimage works normally after installing fuse. https://techpiezo.com/linux/error-appimages-require-fuse-to-run-in-ubuntu-22-04/

[2022-10-22 13:26] tavit111 opened #293 "[Linux] "ValueError: A distribution name is required" after installing on pip on Kubuntu"
After running normcap in command line I get the following error:

5:23:59` - ERROR   - normcap.utils          - L:104 - Uncaught exception! Quitting NormCap!
Traceback (most recent call last):
  File "/home/tavit/.local/bin/normcap", line 8, in <module>
    sys.exit(main())
  File "/home/tavit/.local/lib/python3.8/site-packages/normcap/app.py", line 56, in main
    logger.debug("System info:\n%s",

[2022-10-22 13:32] tavit111 commented on #293
After running normcap in command line I get the following error:

`15:23:59 - ERROR   - normcap.utils          - L:104 - Uncaught exception! Quitting NormCap!
Traceback (most recent call last):
  File "/home/tavit/.local/bin/normcap", line 8, in <module>
    sys.exit(main())
  File "/home/tavit/.local/lib/python3.8/site-packages/normcap/app.py", line 56, in main
    logger.debug("System info:\n%s"

[2022-10-22 17:28] dynobo commented on #293
Hi @tavit111, it seems like you are using Python 3.8, while the current version of NormCap requires Python >=3.9.
Probably `pip` installed an older version, which doesn't work anymore on your system.

You should be able to confirm this by running `pip list | grep normcap`.

If that's the case, I'd recommend using the [latest AppImage](https://github.com/dynobo/normcap/releases), but you could also

[2022-10-22 22:00] dynobo commented on #290
@apandada1, Could you please try updating the FlatPak to NormCap v0.3.13 and check, if the issue is fixed? (At least the line that caused the error got changed in the meanwhile...)
I'd be happy to hear, if that helped!

[2022-10-22 22:22] apandada1 commented on #290
The issue came up in a computer in my office. I will get back on Monday.

On Sat, 22 Oct, 2022, 6:00 pm dynobo, ***@***.***> wrote:

[2022-10-24 16:24] apandada1 commented on #290
Still does not work.
[code]

[2022-10-24 21:18] dynobo commented on #290
Hi @apandada1, thanks for trying it again. This is now a different error. I'm able to reproduce it in Ubuntu Unity, but unfortunately I don't know how to fix it.

**Contributions, ideas or further observations are very welcome!**

Here's what I found out so far:

1. The root problem for NormCap is the error message (`ERROR: ld.so: object 'libgtk3-nocsd.so.0' from LD_PRELOAD cannot be preloaded [..

[2022-10-24 21:32] apandada1 commented on #290
Thank you for putting the effort to find out the cause of the error.

Yeah, if pytesseract can be made to search for the version number in the whole error message, instead of searching in the very first line, then this can be solved. However, I don't know enough python to fix that.

[2022-10-24 21:33] dynobo commented on #290
Right after posting my last comment, I had an idea how to do (2) of the potential solutions, tried it, at it worked:
Starting the flatpak like this disables nocsd for this single call and fixes the issue:
`LD_PRELOAD="" flatpak run com.github.dynobo.normcap`

PS: Unfortunately, NormCap looks quite ugly on Unity: It seems like Unity prevents it from going fullscreen...

[2022-10-24 21:46] apandada1 commented on #290
Yeah, it works!!

[2022-10-28 12:04] Supersity commented on #277
1º:
`set QT_DEBUG_PLUGINS=1 & "C:\Users\Davi Silva Amâncio\AppData\Local\Programs\dynobo\NormCap\NormCap.exe"`

2º:
`C:\Users\Davi Silva Amâncio\AppData\Local\dynobo\NormCap\Logs\normacap-debug.log`

Generated file:
[normacap-debug error.txt](https://github.com/dynobo/normcap/files/9888230/normacap-debug.error.txt)

[2022-10-28 12:05] Supersity commented on #277
I just renamed it from normacap-debug.txt to normacap-debug error.txt, for saving.

[2022-10-28 20:18] dynobo commented on #277
Thanks for your effort, @Supersity . Unfortunately, the debug.log doesn't contain the information I hoped for (the `set QT_DEBUG_PLUGINS=1` doesn't seem to have the desired effect on your system).

As I can't reproduce this issue on my Windows, it's really hard to debug for me. As I said, my best guess is, that another program on your system collides with NormCap, but that's just a hypothesis.

I

[2022-10-30 11:45] dynobo commented on #290
Hi @apandada1, the latest [v0.3.14 release](https://github.com/dynobo/normcap/releases) adds some improvements for Unity:
- Fullscreen should be working properly now
- No need to set `LD_PRELOAD=""` anymore. \
  (You might still see `ERROR: ld.so: object 'libgtk3-nocsd.so.0'` in the CLI, but it should't have any negative effect in NormCap.)

Do you want to give it a try and report back your experi

[2022-10-31 23:41] apandada1 commented on #290
Works perfectly!! I verified both the flatpak the appimage also works properly with fullscreen, and neither crashes.
Thank you.

[2022-10-31 23:41] #290 closed

[2022-11-12 11:37] dynobo opened #306 "Add possibility to re-capture via hotkey when NormCap is running in tray"
## Problem description

Right now, the only options to repeatedly perform captures are:
1. Configure your system to [start NormCap via a Hotkey](https://dynobo.github.io/normcap/#faqs-shortcuts) and _deactivate_ NormCap's "Keep in system tray" setting. Then you can repeatedly capture text via that hotkey.
    - :heavy_plus_sign: Keyboard driven
    - :heavy_minus_sign: Slower, as startup time of N

[2022-11-18 08:09] Explorare opened #311 "[Windows] ValueError: mutable default <class 'PySide6.QtGui.QImage'> for field image is not allowed: use default_factory"
**[env]**
Windows 10 22H2 64-bit
Python 3.11.0
normcap 0.3.14

I just updated `normcap` via `pip` and it failed to launch.

**[log]**
[code]

[2022-11-18 18:03] #311 closed

[2022-11-20 16:57] dynobo opened #320 "[Linux] FlatPak crashs with "TimeoutError" on Gnome 43"
### System:
[code]

### Variables:
[code]

### Exception:
[code]

### Traceback:
[code]

[2022-11-20 17:10] dynobo commented on #320
First ideas about possible causes:
-  Changes in the `org.freedesktop.portal` protocol, specifically in [xdg-desktop-portal](https://github.com/flatpak/xdg-desktop-portal).
- Changes regarding permissions to access org.freedesktop.portal

[2022-11-20 19:38] igorcmoura commented on #254
Hello!
I've run into the same problem. This is the complete output:

Log started: 2022-11-20 15:37:15Z
PreInitializing Python runtime...
PythonHome: C:\Program Files\dynobo\NormCap
PYTHONPATH:
- C:\Program Files\dynobo\NormCap\python310.zip
- C:\Program Files\dynobo\NormCap
- C:\Program Files\dynobo\NormCap\app_packages
- C:\Program Files\dynobo\NormCap\app
Configure argc/argv...
Initializing Pyth

[2022-11-21 14:37] proninyaroslav commented on #320
Same here, Fedora 37, GNOME 43.1.

[2022-11-21 17:37] dynobo commented on #254
Thanks for reporting, @igorcmoura! I'd really like to get this one solved, but still can not reproduce it.

The fact that it's working for you with a custom installed Tesseract could mean, that either your platform (CPU) is incompatible with the shipped Tesseract build or something is wrong regarding the packaging (e.g. I might have missed a dependency).

To rule out the platform hypothesis, could

[2022-11-28 22:11] archisman-panigrahi opened #321 "[Linux] Normcap for ARM64"
It would be great if you enable arm64 builds of Normcap in Flathub.
Nowadays, there are a lot of powerful ARM computers which can run GNU/Linux.

Since Normcap is written in Python, it should work out of the box on ARM.

[2022-11-30 05:19] igorcmoura commented on #254
Sorry for the late response, I did not see the notification.

Here's the `systeminfo` output:
[code]